[2019-03-06 23:55] zenweasel commented on #515
That looks like a missing translation issue?

[2019-03-06 23:58] kieckhafer commented on #515
@zenweasel In this particular case, yes it is a missing translation. However, since we don't limit the length of the possible order statuses, if a translated order status is over 25 characters long, this issue will occur.

[2019-03-07 00:39] kieckhafer commented on #462
Fixed in https://github.com/reactioncommerce/reaction/pull/5021

[2019-03-07 00:39] #462 closed

[2019-03-08 20:58] spencern commented on #469
@rosshadden can we close this now? Or do we need to merge/migrate your changes into this repo?

[2019-03-11 22:13] #448 closed

[2019-03-12 02:21] mikemurray commented on #408
Fixed in https://github.com/reactioncommerce/reaction-next-starterkit/issues/321

[2019-03-12 02:55] zenweasel commented on #408
I don't see a PR that closes this issue. #321 is just a duplicate issue

[2019-03-12 17:15] spencern commented on #494
@mikemurray has this been resolved or discussed?

[2019-03-12 18:58] #510 closed

[2019-03-13 17:04] romainquellec opened #516 "Add a demo"
# Feature Name
Add a demo

### Summary description
Well, title say it all.

### Rationale for why this feature is necessary
Try the front to see what to expect.

[2019-03-14 01:14] #516 closed

[2019-03-14 01:14] zenweasel commented on #516
Issue moved to [reactioncommerce/reaction-feature-requests #58](https://github.com/reactioncommerce/reaction-feature-requests/issues/58) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-14 08:40] janus-reith commented on #515
Now that you brought up that topic, Is there any plan on how to hande translations in the nextjs frontend?
Would an implementation be completely decoupled, or use the strings that are in the DB for the meteor API?

Like in this specific case, the backend which serves the status could also provide matching translations. But I'm unsure what a general approach would look like here, or if there would

[2019-03-14 16:12] #457 closed

[2019-03-15 16:08] janus-reith commented on #515
@zenweasel Will there be translated keys in the starterkit?

[2019-03-19 03:30] zenweasel opened #518 "Use `order.referenceId` whenever orderId is shown to customer"
# Use order.referenceId whenever orderId is shown to customer

Whenever we display an order # to a customer it always needs to be `order.referenceId`. This ticket means auditing the app and making sure we use this everywhere, the really critical one being in the order completed page and the account screens.

### Rationale for why this feature is necessary
This ID needs to be consistent across syst

[2019-03-19 03:31] zenweasel commented on #518
Related to: https://github.com/reactioncommerce/reaction/issues/5052

[2019-03-19 20:36] aldeed commented on #518
Confirmed that the following places show the `order.referenceId`:
- Order card header
- "Your order ID is" on checkout complete screen
- The `orderId` param in the checkout complete route path (the ID in the URL)

Also the `order_id` sent to a configured event tracking service is the reference ID.

I don't think order ID currently appears anywhere else.

[2019-03-19 20:36] #518 closed

[2019-03-29 08:27] janus-reith commented on #494
I could still observe this issue in rc11 / current dev channel.

[2019-03-29 13:48] janus-reith commented on #469
Has there been any further work to actually use subscriptions beside the `<SubscriptionTest />` component? @aldeed Why would Kafka be necessary for this? What would be the caveats when using GraphQL subscriptions directly with Node + MongoDB, where would Kafka come into play and what would it solve?

I'd really be interested to gain more insights into your current roadmap.

[2019-03-29 19:51] spencern commented on #494
Thanks @janus-reith .
@nnnnat can you take a look at this at some point?

[2019-04-01 07:32] zenweasel commented on #469
@rosshadden  Second call to close or update this ticket. It's been 3 weeks since the last update

[2019-04-01 13:16] nnnnat commented on #494
@spencern I'll take a look at this today

[2019-04-01 15:08] rosshadden commented on #469
My changes were not in this project. I can try porting them over here, but would need the find time to test it.

[2019-04-02 20:33] aldeed commented on #469
@janus-reith On the server side, it is hard coded to use an `apollo-server` `PubSub` instance: https://github.com/reactioncommerce/reaction/blob/develop/imports/node-app/core/ReactionNodeApp.js#L36-L39

But Apollo folks do not recommend using it for production. I'm not sure it will work correctly for installations running multiple instances of the server. Using Kafka would solve this, or at a bare

[2019-04-03 16:58] focusaurus opened #519 "Log out error cases never send HTTP responses"
Type: **major**

**Describe the bug**

The log out route handler in express fails to send a response it some code branches, resulting in connections hanging.

**To Reproduce**

Steps to reproduce the behavior:
1. Sign up and log in to reaction storefront
2. Stop reaction core to simulate a log out failure condition
3. Log out of storefront
4. Browser will show loading spinner until request eventua

[2019-04-04 16:20] janus-reith commented on #469
Thank you, now I get it.

[2019-04-09 19:47] #519 closed

[2019-04-16 08:56] janus-reith opened #524 "i18n support"
I added i18next support to the starterkit by wiring up https://github.com/isaachinman/next-i18next.

Initially I started with german.
The strings are located as static json files in the starterkit, the translations from the backend are not reused (Wonder if there would be an efficient way to do that / If it makes sense).

Do you have a roadmap on i18n support in the starterkit, or would you accept

[2019-04-16 11:43] janus-reith commented on #153
This seems to broken again.

[2019-04-22 15:02] ianlikono opened #526 "Envalid returns Missing environment variables even after creating a .env file"
Type: **breaking**

**Describe the bug**
I tried running on my local machine without docker, but I am getting an error of missing environmental variables and i already have the .env file in the root of my project. I dont know what is making it to do that.

![Screen Shot 2019-04-22 at 9 59 45 AM](https://user-images.githubusercontent.com/15727947/56506914-72556c00-64e5-11e9-9dbd-9c3c1aea1a58.png)

[2019-04-22 16:12] #526 closed

[2019-04-22 16:32] ticean commented on #526
The project's `docker-compose.yml` [is configured to load env from the `.env` file](https://github.com/reactioncommerce/reaction-next-starterkit/blob/7c292aebdb82836df8efbd4a2c44c73476f7f13d/docker-compose.yml#L18-L19). If you choose to run without Compose then you'll need to take your own measures to ensure variables are correctly loaded into the environment.

[2019-04-24 09:52] amazedge commented on #502
I too face exactly same issue. By any chance, have any one fixed this issue?
What could be the solution for this..?

regards
Bala

[2019-04-24 20:34] Aesop7 commented on #467
This worked for me as well

[2019-04-25 08:43] delagroove commented on #524
@janus-reith if you send a PR can you tag me? i can work on a Spanish translation of it.

[2019-05-03 08:22] janus-reith commented on #524
@delagroove Sure, although I'm still waiting for some kind of response from the team...

[2019-05-07 07:44] janus-reith commented on #503
I experience the same issue, but can't exactly tell the version as my fork of the starterkit diverges.
The error comes up when directly visiting `/cart/checkout`, it works when being routed from another page.

And I think there actually are two versions of styled-components causing the issue:
The `@reaction/components` module is using `styled-components` 3.3.3 while the starterkit is using 3.4.10.

[2019-05-08 21:33] NurdinDev opened #528 "Navigation Issue"
**Describe the bug**
if you hit to any navigation I see error before load the page
this is the error
<img width="968" alt="Screen Shot 2019-05-09 at 12 21 39 AM" src="https://user-images.githubusercontent.com/5736522/57409918-251a0f80-71f2-11e9-92b1-926db9620435.png">

the first issue is this above error
the second issue is the time to load the page is too long, no loading after 3~5sec

**To Repro

[2019-05-08 21:34] aldeed commented on #503
@janus-reith It may be true that there are multiple versions, but it's also true that whenever I see this error, if I log in it goes away. The cause is still a mystery to me, but it seems like logging in fixes whatever is causing the double load. It's possible it could have something to do with the server side rendering?

[2019-05-09 12:07] loan-laux commented on #524
I'm highly in favor of this. Would be great to get feedback from the core team!

[2019-05-09 22:08] mikemurray opened #529 "WSOD then clicking between PDP and tag pages"
Type: **critical**

**Describe the bug**

Clicking on a product in the tag grid sometimes causes a whites screen of death with errors in the console.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on a tag with 2+ product
2. Click on a product
3. Click on the same tag again in the navbar or in the breadcrumbs
4. Click on a different product
5. See WSOD

**Expected behavior**

Product

[2019-05-10 11:48] janus-reith commented on #503
Probably it is related, as the error came up on direct page visits, but not when routed from somewhere else. There were cases when it just came as a warning, but in other cases it rendered the current page unfunctional. I couldn't really narrow it down yet.

As far as I got it, the way reaction-component-library is exported and used it still contains untranspiled `styled-components` functionality,

[2019-06-06 23:04] #475 closed

[2019-06-07 17:51] #509 closed

[2019-06-07 17:54] machikoyasuda commented on #509
Thank you for noticing this and bringing it up.

[2019-06-07 21:45] machikoyasuda commented on #501
Hi @adrienshen @bradlead @yannterzi @arimus - I've added instructions on how to run the Starter Kit locally connected to an externally hosted Reaction GraphQL server in the README: https://github.com/reactioncommerce/reaction-next-starterkit#run-in-development-against-a-production-api

In summary, you'd set the `.env` var for `INTERNAL_GRAPHQL_API` to the production server's graphql-alpha URL, and

[2019-06-12 18:56] aldeed commented on #503
I've investigated this more and passed it off to @willopez .

The error happens because both the styled-components commonjs entry point and the styled-components ES modules entry point get pulled into the bundle.

Why this happens is unclear, but it is likely either a webpack bug or something incorrect about the styled-components `package.json`, or both.

The proximate cause is importing `styled-c

[2019-06-19 16:33] willopez commented on #503
Attempts to resolved this issue:

- [*] Update the component library styled-components dependency to v4. This is a breaking change but might fix it if it's a package problem. We can release a new major version of the component library for this change. **Tried, problem persists**

[2019-06-19 22:46] willopez commented on #503
I have created an isolated app the reproduces the issue:

https://github.com/willopez/double-styled-components

This rules out, SSR causing the problem.

[2019-06-25 20:51] aldeed commented on #503
This does appear to be a Webpack bug. I created an even more minimal reproduction and created a Webpack issue here: https://github.com/webpack/webpack/issues/9329

@willopez and I did figure out a workaround, though, which is to use Webpack `alias` to map all `styled-components` imports explicitly to the `.mjs` entry point. @willopez is going to do that for now until there is a real solution from

[2019-06-27 17:37] chrispotter commented on #476
to throw in my 2¢ it might be better to name repos `example-storefront-<techname>` for sorting/searching purposes within the reaction org.

Might it also be beneficial to separate these into a `reaction-storefront` grouping (like how we have `reaction-contrib-org`) where we can just have `example-nextjs` etc?

This might naturally alleviate the association between our versioned/supported headless

[2019-06-28 17:13] willopez commented on #476
@nnnnat Have we settled on a new name?

[2019-06-28 20:43] #503 closed

[2019-06-28 22:12] #487 closed

[2019-07-01 16:50] #476 closed

[2019-07-02 00:09] spencern commented on #487
I've closed this with #543 which removes the production warning, but I'd also like to provide some additional context for this.

Tl;dr: this project, [Reaction Platform](https://github.com/reactioncommerce/reaction-platform), and the v2.0 version of Reaction in general is our recommend approach to building a shop with Reaction.

Longer answer:
We've been working toward version 2.0 of Reaction for

[2019-07-02 16:36] focusaurus opened #549 "Redirect graphql playground (graphiql) to core"
# Feature Name

### Summary description

I often can't remember where we host our graphql playground (graphiql). Since it's a web app type thing, I often guess it is served by the storefront. In fact it's served by the graphql API server. I'd like to suggest a series of developer-friendliness 30X redirect routes in storefront to make this "just work" even if I forget:

- `/graphql-beta` (actual pa

[2019-07-02 16:56] machikoyasuda commented on #549
Following this ticket, this documentation should be updated:

## Documentation updates
- https://docs.reactioncommerce.com/docs/graphql-using#graphql-clients
- https://docs.reactioncommerce.com/docs/installation-reaction-platform
- https://docs.reactioncommerce.com/docs/graphql-intro
- README for `example-storefront`

[2019-07-02 19:27] focusaurus commented on #549
@machikoyasuda I don't think we want these new redirects to be the primary, documented way to access graphiql. I think it makes sense to be able to start just reaction core and be doing non-UI development and use the tool from the core server, and I think since that's the simplest and most direct stack and access method, I think that should still remain the official documented way. **However**, if

[2019-07-02 21:44] machikoyasuda commented on #549
@focusaurus True! Maybe we can add it to just the Storefront README and forgo the Docs part. (In case it somehow confuses people).

[2019-07-03 13:57] janus-reith commented on #494
I can still that error when adding an address as guest, then leave or reload the cart page and try editing it afterwards, or as a logged in user that already has an address.
In the second case, I can't edit the address from the beginning.

[2019-07-03 16:36] janus-reith commented on #494
The error originates here in the component library: [ShippingAddressCheckoutAction.js#L196](https://github.com/reactioncommerce/reaction-component-library/blob/5e8ec3676cfcd27020f1878b8cf6c6ac3c5c02aa/package/src/components/ShippingAddressCheckoutAction/v1/ShippingAddressCheckoutAction.js#L196)

The first time the data is entered, these are the fields that get evaluated(passes as `value`) :
addres

[2019-07-03 17:54] #549 closed

[2019-07-04 07:12] janus-reith commented on #494
Created the accompanying ticket here: https://github.com/reactioncommerce/reaction-component-library/issues/416

[2019-07-06 10:34] janus-reith commented on #494
IMHO a fix should be incorporated pretty fix, this is a problem every new user who starts from scratch with the whole current `reaction-platform` will run into.

During first checkout the user will notice that no shipping options are configured.
The user would go to the dashboard, create a shipping option, go back to the starterkit and wonder that nothing changed.

Usually, at least editing the en

[2019-07-08 19:15] spencern commented on #494
@kieckhafer @mikemurray @nnnnat @janus-reith
Seems like this is an issue that we need to resolve - do we have a sense of the effort level required to fix?

@janus-reith if you want to take a crack at this, we'd definitely look at a PR to resolve this. If not we'll try to prioritize as soon as we can

[2019-07-08 20:14] janus-reith commented on #494
I already narrowed it down and sovled the issue here:
https://github.com/reactioncommerce/reaction-component-library/pull/417

Just need to pull that change and release an updated version of the component library and use that in the starterkit.

A more sophisticated solution that takes cases into account where company will be a usable and maybe required field will probably just become relevant if

[2019-07-15 08:19] mpaktiti opened #554 "Registered addresses not displayed at Storefront checkout"
## Issue Description
I have a Storefront user with a saved address at their Address Book, but every time I place an order, I don't get any option to re-use that address, I'm asked to add my address info again.

## Steps to Reproduce
1. Sign up as a new Storefront user
2. Go to Profile > Address Book and add a new address
3. Add a product to your cart and checkout
4. You are asked to enter a Shippi

[2019-07-19 07:18] janus-reith commented on #415
So what to do in cases where a redirect is required and the plugin doesn't handle the billing address?

This made we think of how to persist the required data for these redirect payments at all, as usually there is additional information needed. I believe before we used to expose routes on the backend for this that grab the necessary data and then redirect. But now I wonder if such redirects could

[2019-07-22 07:06] janus-reith commented on #554
How would you go about this - I don't really get how `AddressCapture` is supposed to be used apart from the basic way it is currently, as I don't see where data for the suggestion view it offers should come from.

I believe implementing `AddressChoice` here is the bigger priority, if there is relevant suggestion data later on, that suggestion part could still be added to the address form in there

[2019-08-02 11:06] karaarda opened #556 "Cannot view checkout page with 0.00€ total amount"
Type: **minor**

**Describe the bug**
When there are only items with 0.00€ price in the cart, the checkout page cannot be viewed.

`web_1  | TypeError: component.renderComplete is not a function
web_1  |     at CheckoutActions._this.renderCompleteAction (/usr/local/src/reaction-app/node_modules/@reactioncommerce/components/CheckoutActions/v1/CheckoutActions.js:159:28)
web_1  |     at CheckoutActio

[2019-08-08 21:59] kieckhafer opened #558 "Cancel button is shown but does nothing in Checkout"
Type: **minor**

**Describe the bug**
When going through checkout, if you make it to a step where you haven't yet filled anything in, the cancel button is shown, but does nothing. This is confusing for users who may thing k it should be something.

**To Reproduce**
Steps to reproduce the behavior:
1. Add items to your cart
1. Start checkout
1. See that the `cancel` button is shown, but does nothin

[2019-08-11 14:38] karaarda opened #559 "withCart HOC addItemsToCart is not async although it should be."
Type: minor

**Describe the bug**
handleAddItemsToCart is an async function, however it is wrapped in an arrow function when it is sent to the Component. This arrow function is not async, so even though it is awaited when it is called, it has no effect.

**To Reproduce**
Steps to reproduce the behavior:
1. Add withCart HOC to your component
2. Call `await addıtemsToCart`
3. It will not be async

*

[2019-08-23 07:48] janus-reith opened #661 "Redirect for reauth should not present login form"
## Issue Description
Currently, when the storefront recieves a Status 401 from the backend over GraphQL, it will redirect to the `/signin` route. This will then redirect to the meteor backend to get a new authentication token. The assumption here seems to be, that the Meteor User still is logged in. If the User is logged out on the Backend, this will just present a login form. Skipping the auth re

[2019-08-25 16:06] jmaver-plume opened #562 "SCRIPT1002: Syntax error Internet Explorer 11"
Type: **major**

**Describe the bug**
Fresh installation does not work on internet explorer.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a fresh install of reaction-platform.
2. Build example-storefront using `docker build -t example-storefront --build-arg BUILD_ENV=production .`
3. Run docker image using `docker run --env-file .env -p 4000:4000 example-storefront`
4. Open page on i

[2019-08-28 03:59] jmaver-plume opened #563 "Async Stripe is not implemented properly"
Type: **critical**

**Describe the bug**
Stripe is added from window to state only on [componentDidMount](https://github.com/reactioncommerce/example-storefront/blob/develop/src/pages/_app.js#L70)

As described in [react-stripe-elements docs](https://github.com/stripe/react-stripe-elements#loading-stripejs-asynchronously) we need to also include an `eventListener` such as example:

[code]

**To Re

[2019-08-29 07:38] zenweasel opened #566 "When inventory tracking is enabled and backorders disabled prevent adding more quantity than is available in inventory to cart."
Steps to reproduce:

1. Enable inventory tracking
1. Disable backorders for a product
1. Set quantity in stock to be 1
1. Add two to cart
1. Observe that you can

[2019-09-03 02:22] delagroove opened #567 "error while retrieving fulfillment options in checkout"
Type: breaking

**Describe the bug**
No fulfillment methods will appear after filling out your address on checkout step 1

**console**
`ERROR Reaction: shipping.0.shipmentQuotes.0.method.fulfillmentTypes is not allowed by the schema (errorId=ck037557k00016cp47wgr9q0j)
   path: [
     "updateFulfillmentOptionsForGroup"
   ]
   stack: ReactionError: shipping.0.shipmentQuotes.0.method.fulfillmentType

[2019-09-03 13:40] janus-reith opened #568 "`remainingAmountDue` should use checkout total instead of summing the total of each fulfillment group"
Type: **minor**

**Describe the bug**
This bug will only be apparent when you apply a discount for your order, although there could be other cases.

Placing the order with a discount applied fails, as the payment amount will be higher than the actual order total.

**To Reproduce**
Steps to reproduce the behavior:
This would require the fix in https://github.com/reactioncommerce/example-storefront/

[2019-09-03 13:41] janus-reith opened #569 "`buildOrder` should use itemTotal instead of total"
Type: **minor**

**Describe the bug**
This bug will only be apparent when you apply a discount for your order.

Placing the order with a discount applied fails with the error:

**To Reproduce**
Steps to reproduce the behavior:

1. Add item to cart
2. Find your cart in the db, add `discount: 10` to it
3. Go to checkout / refresh checkout and try to place your order
4. Get error

**Expected behavior

[2019-09-03 21:25] delagroove commented on #567
possible solution
https://github.com/reactioncommerce/reaction/issues/5513

[2019-09-04 17:08] impactmass commented on #502
@MoustafaBayommy @amazedge were you able to get past the error?

[2019-09-04 17:39] impactmass commented on #502
I see this is an old issue (and thus late response), but the error hint you pasted, shows where the issue lies:

`The "redirect_uri" parameter does not match any of the OAuth 2.0 Client's pre-registered redirect urls.`

When the auth flow is initiated, the storefront sends along a [callbackUrl](https://github.com/reactioncommerce/example-storefront/blob/516ace42a7ce529e8e9dcde13b39eb6c1c0ec149/src

[2019-09-04 17:39] #502 closed

[2019-09-04 22:25] aldeed commented on #567
Upgrading to 2.2.1 should fix this.

[2019-09-05 01:05] #567 closed

[2019-09-05 15:35] impactmass opened #574 "Remove id param from logout endpoint"
### Rationale for why this is necessary
The logout endpoint takes the userId in the url param. Meaning that you can pass any known ID to log out a user. Even though we have the id in an encoded form, we should remove the id param.

### Work:
Use `/logout` without the id param. Find alternative to retrieve the current user and the issue to logout api call.

[2019-09-06 18:20] focusaurus opened #575 "Handle SIGTERM for faster docker-compose down"
# Feature Name

Faster shutdown under docker.

### Summary description

Currently `docker-compose down` (or `stop web`) waits about 10s for the node app to cleanly stop. If the app were to handle `SIGTERM` and close the express server, this delay would be eliminated or reduced to less than 1s.

### Rationale for why this feature is necessary

Developer experience performance.

### Example code

Ru

[2019-09-17 19:34] focusaurus opened #581 "CI Integration tests failing due to AWS S3 permissions issue"
I merged a new change into develop and circleci is failing at the integration tests. I investigated and the script that deploys to ECS via propel is failing with this message:

[code]

@spencern Do you have an AWS admin account where we can troubleshoot this. Maybe these credentials got rolled?

It looks like the circleci job does **not** need an explicit context, just environment variables config

[2019-09-17 19:36] spencern commented on #581
Unfortunately I do not have an AWS admin account - I'll see if @griggheo can set me up there when he gets back.

[2019-09-17 19:40] focusaurus commented on #581
OK for context it seems like these may have been failing since as early as January based on [this code comment Jeff made in January](https://github.com/reactioncommerce/example-storefront/blob/dc8a5e5563b480835ffddc42391f40918a9f01e9/tests/integration/ssr.test.js#L12).

I think between Grig and I we'll decide if we want to try to fix these or just properly disable/remove them.

If we fix, there's

[2019-09-17 19:45] spencern commented on #581
Thanks for the plan and for initiative to take this on. 👍

[2019-09-20 13:22] moeghashim opened #586 "Example storefront failed to build"
Type: **breaking|critical|major|minor**

**Describe the bug**
The store front build fails. It showing that it can't find a module module cookie-parser
I attached a screenshot.

**To Reproduce**
Run `make`

**Expected behavior**
To build the storefront successfully.

**Screenshots**
<img width="817" alt="Screenshot 2019-09-20 12 12 36" src="https://user-images.githubusercontent.com/23550100/6533019

[2019-09-20 22:51] focusaurus commented on #586
Can you try git pull the latest develop and see if it starts? There was a commit where we weren't running `yarn install` on start, but it has already been fixed.

[2019-09-21 10:51] moeghashim commented on #586
I did a new fresh installation. Stopped containers and deleted images. It's still not solved.

[2019-09-21 12:04] moeghashim commented on #586
I compared the current version to the previous one and it seems there is a volume missing. The `example_storefront_empty_node_modules` is missing. Upon checking docker-compose.yml there is a line missing from the previous version. Which is `empty_node_modules:/usr/local/src/reaction-app/node_modules` under `volumes`.

[2019-09-23 10:31] moeghashim commented on #586
Thanks to @janus-reith
This solved it for me: Editing the file .reaction/entrypoint.sh in the storefront and change command=(node .) to command=(./bin/start) in Line 21.

[2019-09-23 10:31] #586 closed

[2019-09-23 16:48] #581 closed

[2019-09-23 17:23] focusaurus commented on #586
Your manual edit was also merged into [develop here](https://github.com/reactioncommerce/example-storefront/commit/e2df50744143cc26994733b2973eb15539df9836) so if you pull the latest code from github you shouldn't need to have any local modifications. Also FYI the `example_storefront_empty_node_modules` is gone on purpose. Thanks @janus-reith for your help!

[2019-09-24 08:20] HarisSpahija commented on #524
Bumping this. With upcomming [Hacktoberfest](https://hacktoberfest.digitalocean.com/). Maybe this would be a good issue to solve for storefront?

[2019-09-25 10:33] HarisSpahija commented on #524
@janus-reith is there a chance you could share your implementation?

[2019-09-26 09:06] janus-reith commented on #524
Sure, I would just need to find the time for that and could create a repo.
Some other module updates were involved so I need to verify what is actually relevant here first.

Actually I think we could really improve this now that https://github.com/reactioncommerce/reaction/pull/5514 is merged and see if we can pull the translated strings from the backend again like it used to be with the v1.x vers

[2019-09-26 17:31] HarisSpahija commented on #524
@janus-reith Is there a chance we could collaborate on this? We currently implemented next-i18next in our repository, maybe we can help?

[2019-09-26 18:20] nnnnat commented on #524
Hey y'all wanted to chime in on this topic. We do not have any plans to include i18n support to the example storefront but we would be very open to merging in a community built solution. I'll defer to @aldeed on the approaches outlined above but I don't see pulling translations from the API being way to do this and having storefront translations local (maybe via next-i18next?) as the better soluti

[2019-09-26 18:20] willopez commented on #494
Will be closed in https://github.com/reactioncommerce/example-storefront/pull/588

[2019-09-26 20:16] aldeed commented on #524
@nnnnat The API translations are available, but the general thinking was that clients would probably host their own translation files and if necessary would merge from both sources. There are some benefits to API-side translations, like not having to keep in sync in multiple places if you have multiple clients. It would be fine for now for storefront to have its own files.

As far as how the clien

[2019-09-26 22:29] #494 closed

[2019-09-27 07:48] HarisSpahija commented on #524
@aldeed Even though it sounds like a cool feature, we recognized in our store front that remote i18 locales hosting can be a big pain. In general you would always want to have a fallback in case the connection drops.

On your second point, i18next has a HOC that keeps track of its own selected language. Do you think it would be good enough to let next-18next check its own language, or should we ad

[2019-09-27 12:58] RoytenBerge opened #589 "Missing Shopify API hook"
Dear All,

In the following video from 2017, reaction features a feature where it is possibleto upload  shopify items using an API key:
https://youtu.be/Y-p7ZrIBZCQ?t=510
I have been looking for a certain feature, but I can't find it in the new release.
Since it is an old video, I can imagine it being removed, however I would love to make use of this feature.
Was this feature removed or where can

[2019-09-27 19:28] spencern commented on #589
Hi @RoytenBerge
We've removed this feature from the core application and moved it to our community-supported library of features. I think the basics of how this works _should_ still be correct, but there is likely some work that will need to be done in order to use this plugin with v2.5.0 of Reaction.

If you do hack on it and get it working, I'd be happy to look at a PR to update it.

Here's a li

[2019-09-27 19:29] #589 closed

[2019-09-28 06:40] vigyano opened #590 "Shipping Handling is calculated twice at checkout"
Type: **critical**

**Describe the bug**
Shipping Handling is calculated twice in Order
At checkout getting error "Client provided total price {amount} for order group, but actual total price is {amount}"while placing order

**To Reproduce**
Please provide starting context, i.e. logged in as a user, configure a particular payment method.

In admin portal, add Flat rate with any value in handling a

[2019-09-28 06:42] vigyano commented on #590
https://github.com/reactioncommerce/reaction/issues/5572#issuecomment-534587460

[2019-09-29 11:43] karaarda opened #631 "Order object doesn't have notes array"
## Prerequisites
* [X] Are you running the latest version?
* [X] Are you able to consistently reproduce the issue?
* [X] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
Order item doesn't contain "notes" property.

## Steps to Reproduce
Please provide starting context, i.e. logged in as a user, configure

[2019-09-29 23:08] aldeed commented on #524
@HarisSpahija I18next has a feature where you can compile remote translations into your static page, which is one way to have fallback. But all translations are loaded on startup in a typical setup, so it's likely not much of an issue.

Reaction Admin uses default detection, but limited to only "querystring" and "navigator" methods to avoid too much confusion. That's my recommendation for this pro

[2019-09-30 01:21] HarisSpahija commented on #524
I think its good to split this issue into multiple tasks for translating the pages and adding i18next support. Once those 2 things are merged we can include community translations.

I wont have time this week to do this, but I will start working on it as soon as I have time!

[2019-10-02 07:29] janus-reith commented on #524
The `UIStore` already has a field `language`:
https://github.com/reactioncommerce/example-storefront/blob/4e1c281ec5de541ec6b22c52c38e6e2e6e072a1c/src/lib/stores/UIStore.js#L32

I think currently it is only used for the order status labels which can be localized already.
I remember facing issues when I tried to initialize that field with the value of `i18.language` as it was `undefined` initially,

[2019-10-03 12:28] HarisSpahija commented on #524
@janus-reith I think its a nice usecase to enable languages from the backend (like what is available in the storefront), but have the languages being switchable in the frontend. Like @aldeed said, having a route set the language is a nice solution

[2019-10-11 15:42] aldeed commented on #524
@janus-reith I forgot about that UIStore language. I believe @kieckhafer added that with the goal of eventually supporting this I18N stuff.

You could use i18next init/changeLanguage to manage the current language, but have an [onLanguageChanged](https://www.i18next.com/overview/api#onlanguagechanged) listener in which you set the UIStore language to keep them in sync.

[2019-10-13 14:31] janus-reith commented on #574
The nextjs express server should be able to retrieve necessary information from the current session.
It could pass an auth token as header to the backend. The backend should be able to use hydra introspection to retrieve the belonging Reacton user in the same manner other graphql calls are validated and then process the meteor logout.

[2019-10-13 14:46] janus-reith commented on #524
@aldeed thanks for the link, I never noticed these events exist. Probably the cleanest way then to set the language in the UI Store, will try that out.

[2019-10-18 20:11] machikoyasuda opened #600 "Merchandising - Storefront scope: A user can see a product's breadcrumb by Category, not tag."
Add breadcrumb of categories and test the case where there are 2 categories on a product.

Existing similar issues:

- https://github.com/reactioncommerce/example-storefront/issues/489
- https://github.com/reactioncommerce/example-storefront/issues/148

[2019-10-18 20:26] machikoyasuda opened #601 "Merchandising - Storefront scope: A user's URL structure should reflect new Categories, not Tags."
The exact implementation and URL structure decision is TBD. This ticket is a placeholder to remind us that `tag` is still hardcoded into these URLs, for example `https://blabblahssecretstore.com/tag/beanies?limit=20`

[2019-10-29 20:13] vigyano commented on #590
@aldeed any updates on fix?

[2019-10-30 18:42] aldeed commented on #590
This hasn't been prioritized for anyone to work on but PRs with fixed would be reviewed and accepted. To copy my suggestions into this issue:

Note that even with perfect refetching on the client, this error can happen. For example, a price change may be published by an admin right before you press the Place Order button. The storefront should do a nicer job of detecting this error, refreshing the

[2019-11-04 21:04] Jorgelg13 commented on #502
Hi, I have the same problem, someone can help me, I am trying to get the most up-to-date version.

[2019-11-05 08:57] MoustafaBayommy commented on #502
@impactmass  thank you it already solved  ,after i read Hydra docs  it was wrong configurations.

[2019-11-06 23:58] garyrvaz opened #606 "[2.8.0] - Oauth client does not initialise"
Type: **breaking|critical**

**Describe the bug**
[code]
It is related to https://github.com/reactioncommerce/reaction-platform/issues/41
Might have been caused by changes in #602
I ran `make` with example-storefront, reaction and reaction-hydra at v2.7.0, the auth pages load fine, but when these at v2.8.0 Oauth client doesn't initialize. Then I tried reaction and reaction-hydra at v2.7.0 and exam

[2019-11-12 20:31] gslandtreter commented on #606
Seems to be introduced by #603
./bin/start is no longer called, consequently ./bin/create-hydra-client.js is not executed.
Manually calling ./bin/create-hydra-client.js from the container works around the issue.

[2019-11-18 15:36] agustif commented on #606
How can one manually call it ./bin/start, sh /bin/start doesnt work for me.

I can't login on v2.9.0 all packages due to this same problem it seems, as my hydra-client never starts?

[2019-11-21 09:54] HarisSpahijaPon commented on #329
As a matter of fact I noticed that this bug happens with a lot of hovers. Also the hover on deleteinputbutton on checkoutform seems to not show correct styling. Are there any more buttons that do not show correct hovers that you guys are aware of?

[2019-11-21 09:56] HarisSpahijaPon commented on #524
Recently I have been working on adding translation overrides for the component library. How are we going to pass translations to these components? Originate them from the example storefront code or from the reaction api?

[2019-11-22 18:29] agustif opened #615 "[bug] Login doesnt work in storefront: Message: Cannot return null for non-nullable field Account.primaryEmailAddress."
Type: **breaking**

**Describe the bug**
A clear and concise description of what the bug is.
I get the following error in the example-storefront after register/login.
`web_1  | [GraphQL error]: Message: Cannot return null for non-nullable field Account.primaryEmailAddress., Location: [{"line":31,"column":5}], Path: ["viewer","primaryEmailAddress"]`

It seems because of something about defaultEmail

[2019-11-22 23:50] aldeed commented on #329
None I'm aware of, but haven't done a thorough check

[2019-11-22 23:57] aldeed commented on #524
@HarisSpahijaPon I'd lean toward starting with separate files in example storefront. The general thought is that companies with multiple different clients will prefer to maintain common translations in one place (the API that they all connect to anyway). But I think the easier path to get started would be to have them local to this project, and then from there potentially identify some that should

[2019-11-24 10:35] paales opened #617 "Cannot read property 'currency' of null"
Type: breaking

**Describe the bug**
Trying out Reaction Commerce, but running into issues pretty quickly.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Created a new product in the operator panel (don't think it has anything to do with it).
2. http://localhost:4000/
3. Getting error.

**Expected behavior**
Working page

[2019-11-25 13:16] HarisSpahijaPon opened #618 "Migrate MaterialUI v3.9 -> v4+"
Type: **major**

**Describe the request**
Material UI should be updated to v4+

**Reason**
Currently a lot of new features have been added to version 4 of Material UI. People using either example storefront or reaction-component-library will use Material UI documentation to create and style components. Following documentation from Material UI can cause bugs due to the outdated version being used i

[2019-11-28 11:42] huangyanxiong01 commented on #606
me too

[2019-11-30 14:52] janus-reith commented on #524
@HarisSpahijaPon Now that your PRs on the component library allow us to pass the labels/funcs, let's create a new branch that adds nexti18next as a dependency and intializes i18n with the locales from the static folder as discussed. Maybe really just settle for browser detection of the language and url subpaths first to avoid the need to decide yet how to visually display a language toggle in the

[2019-12-02 14:12] HarisSpahijaPon commented on #524
Basically we have 4 steps that we could follow to implement i18n.

[code]

Do we know already if there will be a connection with the backend in the future?

@janus-reith, feel free to hit me up on https://twitter.com/spahija_haris to set up a call so we can work this out.

[2019-12-02 14:41] HarisSpahijaPon commented on #566
can we as a community help with this or is this still a thing? We face the same issue currently and have no idea how to solve it.

[2019-12-02 21:53] griggheo opened #620 "Errors in 3.0"
Getting these errors when hitting https://storefront.v3.reactioncommerce.io:

[code]

[2019-12-03 22:52] aldeed commented on #620
@griggheo Latest 3.0 image should resolve this error: https://hub.docker.com/layers/reactioncommerce/example-storefront/release-v3.0.0/images/sha256-9ec9df13edb4f6f6b1e3d9342c3ae84a1c651db216dd581065a4fab1061aeac4

[2019-12-04 00:12] griggheo commented on #620
Bingo!

https://storefront.v3.reactioncommerce.io/ works now!

/cc @spencern

[2019-12-04 19:05] #620 closed

[2019-12-04 20:05] mathiasfc commented on #502
@MoustafaBayommy can you share the solution in details? thanks.

[2019-12-13 17:40] aldeed opened #626 "Fix OAUTH2_IDP_HOST_URL env handling"
When `OAUTH2_IDP_HOST_URL` doesn't end in `/`, logout fails.

[2019-12-16 10:05] HarisSpahija commented on #524
For people that current want to translate their example storefront. There is a current alternative way that @aldeed provided here: https://github.com/reactioncommerce/reaction-component-library/issues/409#issuecomment-564131174

Quote:

[2019-12-16 10:08] HarisSpahijaPon commented on #524
For people that current want to translate their example storefront. There is a current alternative way that @aldeed provided here: https://github.com/reactioncommerce/reaction-component-library/issues/409#issuecomment-564131174

Quote:

[2019-12-16 16:04] aldeed commented on #630
Transferred from the API repo. We should just verify this isn't an issue on the example storefront and then close.

[2019-12-18 01:21] #626 closed

[2019-12-18 14:30] HarisSpahijaPon commented on #630
@aldeed how can we verify this? So far I could not reproduce this issue on MS Edge.

[2019-12-18 14:31] HarisSpahijaPon commented on #629
I disagree we should add this, this is part of deployment and belongs in the DevOps part of development. Example storefront should not default to indexing, that seems to me up to the developers that are using example storefront.

[2019-12-18 15:53] aldeed commented on #630
@HarisSpahijaPon That's good enough for me to close this. I am pretty sure this was referring to the old checkout page. Anyone coming here seeing new Edge issues can submit a new issue in this repo.

[2019-12-18 15:53] #630 closed

[2019-12-18 16:51] aldeed commented on #631
Moved this from the API repo to the example storefront repo. The API docs are correct in that `notes` is always an array *if you request it*. The problem is that the storefront query does not request `notes`.

The fix is to add `notes { }` with some notes fields in the `OrderCommon` fragment definition in example-storefront codebase.

[2019-12-18 22:51] ArcadaLabs-Jason commented on #606
Still getting this in 2.9

[2019-12-20 21:49] CristianCucunuba commented on #569
Hey, I'm facing the same problem, did you find any solution?

[2019-12-24 17:54] poioit commented on #617
Did you fix this issue?
I run docker on google cloud and have a similar issue.

TypeError: Cannot read property '_id' of null
web_1  |     at _callee2$ (/usr/local/src/app/build/app/server/static/development/pages/_app.js:6260:22)
web_1  |     at tryCatch (/usr/local/src/app/node_modules/@babel/runtime/node_modules/regenerator-runtime/runtime.js:45:40)
web_1  |     at Generator.invoke [as _invoke]

[2019-12-27 13:06] paales commented on #617
Nope, I gave up 😭

[2019-12-30 23:31] aldeed commented on #661
@janus-reith I am looking at this for 3.0.0 release. If we were going to change this, I think the correct solution is to create and redirect to a new storefront server route such as `/silent-sign-in`, which would do the auth call with a new `{ loginAction: "silentSignIn" }`, which the identity service can then use to skip showing the login page.

However, I'm not sure this is what we want.

First,

[2019-12-31 21:42] #357 closed

[2019-12-31 21:49] willopez commented on #574
resolved via #637

[2019-12-31 21:49] #574 closed

[2019-12-31 21:50] aldeed commented on #501
All ENV documented for 3.0.0 release in https://github.com/reactioncommerce/reaction-docs/pull/890

[2019-12-31 21:50] #501 closed

[2019-12-31 22:02] aldeed opened #638 "bin/setup script doesn't handle ampersand"
Type: **minor**

**Describe the bug**
The `bin/setup` script doesn't properly copy the `OAUTH2_IDP_PUBLIC_CHANGE_PASSWORD_URL` line from `.env.example`. It cuts off everything after the ampersand.

**To Reproduce**
1. Remove `OAUTH2_IDP_PUBLIC_CHANGE_PASSWORD_URL` line from `.env` file if it's there.
2. Run `bin/setup`
3. See that `OAUTH2_IDP_PUBLIC_CHANGE_PASSWORD_URL` line is added to `.env` fil

[2020-01-04 00:23] albertstartup commented on #563
This solves the problem, thanks!

[2020-01-06 10:41] jitenagarwal19 commented on #556
@karaarda were you able to find a fix or workaround for this issue?

[2020-01-12 01:09] loid345 opened #641 "PWA support"
Hello. When do you plan to add PWA support (Progressive Web App)?

[2020-01-14 09:26] HarisSpahijaPon opened #642 "PaymentsCheckoutAction cannot set override props"
Type: **minor**

**Describe the bug**
<PaymentsCheckoutAction /> is not mentioned in componentscontext. This makes it that PaymentsCheckoutAction cannot be given on `src/components/CheckoutActions/CheckoutAction.js`

on line: 376
`let PaymentComponent = PaymentsCheckoutAction;`

A reference is used instead of an instance of the component.

**Expected behavior**
Expected to be able to pass `<Paymen

[2020-01-14 09:33] HarisSpahijaPon commented on #524
Hey guys, best wishes for this year!

Do you guys have a goal set for 3.0 on how to tackle i18n @aldeed ?
I was planning on adding i18next and added a translation file for every component. From there on we can always create a common.json translation file for every shared translation

[2020-01-14 17:54] aldeed commented on #524
@nnnnat Do you have any thoughts or guidelines developed?

The translations in the 3.0 API are primarily for Reaction Admin UI, though a storefront could request them and merge with its own translations as needed. So I think this storefront would be free to do whatever pattern makes sense. Since it does have its own server, I think remote loading the same way Reaction Admin does would be best. Nex

[2020-01-15 09:41] HarisSpahijaPon commented on #439
I would like to pick this one up. Trying to implement custom checkoutactions have been nothing but frustrating and near impossible to me so far without running into a ton of sideffects. Do you have any idea on how to approach this @nnnnat ?

If you could give me some guidelines I could refactor everything.

[2020-01-15 09:46] HarisSpahijaPon opened #643 "[ESv2] Refactor all components to match component context"
# Refactor all components to match component context

### Summary description
I noticed that when implementing i18next a lot of components do not have a reference in component context. For example CheckoutActions and CheckoutTopHat are not defined in the component context.

### Rationale for why this feature is necessary
All items that can/should be inherited from the component context should be m

[2020-01-16 11:21] HarisSpahijaPon commented on #617
@poioit Could you see if you have any traffic between your frontend and backend when a query is done? Google cloud should have an option to display logs. Also adding a repo with the reproduction of this bug will help solve this issue.

[2020-01-17 13:04] HarisSpahijaPon commented on #524
While working on the Migration to v4 issue #618 I noticed that MaterialUI has i18n support. Maybe worth while to look into this?

https://medium.com/material-ui/material-ui-v4-is-out-4b7587d1e701

https://material-ui.com/guides/localization/

[2020-01-21 23:57] aldeed commented on #524
MUI localization should be used, but it seems it would be supplemental to i18next rather than in place of it. You'd have to determine the MUI locale based on the i18next config and then pass it to the theme? Not sure exactly.

[2020-01-22 13:51] HarisSpahijaPon commented on #524
Oh yes but ofcourse, they should be parallel to each other. The MUI locale has a remote i18n config but you can pass your own i18n. It is mostly used for translations on the components themselves such as helper texts (for example on `<TablePagination />`)
The main feature of MUI i10l that is relevant to us is for Typography. Adding Arabic right to left will support a big potential group of users.

[2020-01-28 11:31] HarisSpahijaPon opened #652 "Changing quantity on Cart page removes ProductItem while onFocus is active"
Type: **minor**

**Describe the bug**
Changing the quantity value on Cart removes the item when quantity is undefined/null while typing.
When filling out a specific number the cart item will be removed once the number of the quantity is changed by typing.

**To Reproduce**
Steps to reproduce the behavior:
1. Add an item to cart
2. Select quantity for any item on `/cart` (`Cmd + a` on macOS)
3. Bac

[2020-01-30 23:48] #638 closed, assigned to nobody

[2020-01-30 23:49] aldeed commented on #641
@volanar Are there specific PWA features you're looking for?

[2020-01-30 23:50] aldeed commented on #615
What version was this on? It sounds like something that was fixed in 2.9.1

[2020-01-30 23:54] aldeed commented on #643
Agree with this. May not get into 3.0 release but soon after.

[2020-01-30 23:58] aldeed opened #654 "[3.0.0] Adding new account address is partially broken"
Type: **minor**

**Describe the bug**
After adding a new account address, the screen goes blank you appear to be logged out, but when you refresh the page, the address is there and you are still logged in.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to storefront
2. Log in
3. Click user name in upper right > Profile
4. Add a new address.
5. When you submit the form, see the issue.

**

[2020-01-31 00:00] aldeed opened #655 "[3.0.0] Profile orders page doesn't load"
Type: **major**

**Describe the bug**
Profile orders page doesn't load. Shows "500". There is an ordersByAccountId GraphQL error in the server logs:

[code]

**To Reproduce**
Go to http://localhost:4000/profile/orders while logged in

**Expected behavior**
See account orders page

**Desktop (please complete the following information):**
 - OS: Mac
 - Browser: Chrome latest

**Smartphone (please co

[2020-02-01 10:07] loid345 commented on #641
https://nextjs.org/features/progressive-web-apps

[2020-02-03 22:46] #655 closed, assigned to kieckhafer

[2020-02-04 13:00] HarisSpahijaPon commented on #641
I think with the current usage of apolloclient we could get pretty far. Maybe something that can be worked on in the v3 cycle? I'd love to help on this one

[2020-02-04 15:21] agustif commented on #615
Yep, can close I guess

[2020-02-04 15:21] #615 closed

[2020-02-06 17:28] aldeed commented on #641
@volanar I'm trying to understand which specific features? The example storefront is already what I would call "PWA-compatible". It supports either server or client routing. You can easily enable the NextJS offline support I assume.

I'm going to guess what might be the deficiencies:
- Make it easier / document how to do offline data with Apollo Client
- If you're thinking about mobile, then maybe

[2020-02-14 15:33] janus-reith commented on #661
@aldeed The issue here seems to be indeed related to the unused refresh token in the storefront.
While we could skip its usage like done currently with the redirect to the meteor login, I wonder if that is even how it is supposed to work, as it relies on the meteor login data still being present.

Therefore, a "silent" reauth in the meteor app like you described would somehow solve the initial iss

[2020-02-14 16:19] janus-reith commented on #661
What I did not take into account here is the still unused `expiresAt` value, but I assume we don't need it.

A refresh would be triggered on each authenticated GraphQL call when neccessary so this should also work on cases without page load, like when polling is used. Also there is no third party service involved that would be called with an neccesarily up-to-date token, so we're good here.

[2020-02-14 16:37] janus-reith commented on #661
I just finished the implementaton and will test now if everything checks out as expected (Really should've done this sooner, this issue annoyed me way too long ).

Let me know what you think about this approach and if I should submit a PR.

For technical reasons there now is no "storefront-session" and "storefront-session.sig" cookie anymore but just one called "session" (needed this name so `pass

[2020-02-14 17:49] janus-reith commented on #661
Just tested it, everything seems to work:

1. Hydra reports an expiry time `expires_At ` of 3600s (= 1 hours) so I saved a copy of my cookie and waited one hour.
2. After one hour, the page reloaded and I had a new cookie with token and I still was authenticated. The automatic reload happended for me because I have queries with polling in use, so that case is covered aswell.
3. Next I saved a copy

[2020-02-14 18:00] janus-reith commented on #661
Another thing to note: When I had the chrome Applications Tab open, during the refresh I noticed that my session cookie data was changed before the actual page reload happened. This leads me to believe that maybe the refresh could be triggered without a redirect at all, simply by doing a POST call from the storefront client to server, then making sure the returned new accessToken (only access, ref

[2020-02-21 21:03] aldeed commented on #661
@janus-reith Moved the issue to this repo, thanks.

This is great investigation work. It seems to mostly align with what I was thinking.
- Your implementation sounds correct to me, so a PR would be great.
- Getting a new refresh token with every refresh is how it always works in oauth as far as I remember. It should be updated and used along with the auth token. That way you will remain logged in

[2020-02-22 20:32] janus-reith commented on #661
@aldeed Thanks, will keep on testing and prepare a PR.
Had this in use in a dev environment for the past week and didn‘t encounter any errors yet.

Regarding the refresh token: I think it should only issue a new one when necessary. The (semi-)critical part I see here also is not the issuing of a new refresh token, but the invalidation of the previous one. If I’m logged in with client a and client

[2020-02-26 13:16] HarisSpahija commented on #554
Hey this issue showed up with our current project and I was wondering if this is still a feature that needs to be supported, or if I can make a PR to remove AddressBook completely? It is at this point just clutter/confusing to keep it there unless we finish the implementation.

[2020-02-26 13:37] HarisSpahija commented on #391
Duplicate of #554 This can be closed and moved to one issue

[2020-02-28 20:45] aldeed commented on #554
@HarisSpahija I don't think there's much left to finish the implementation and it's a useful / expected feature. @kieckhafer might have some memory of where we left off and what the plan was.

[2020-03-01 19:17] HarisSpahija commented on #554
@aldeed Weird, I'd assume having AddressBook allows us to set a predefined address somewhere in the checkout. But we haven't actually managed to see where the AddressBook component was being used apart from profile. Is it supposed to show up somewhere? If so, then it must be a bug on our implementation.

[2020-03-02 15:08] aldeed commented on #554
@HarisSpahija AddressChoice is here: https://designsystem.reactioncommerce.com/#/Storefront%20Components/Forms/AddressChoice

The places in checkout flow that collect an address were supposed to use AddressChoice, with the account addresses passed in. I don't have time to dig into all the layers right now, but possibly that was the part we never completed? Either checkout is using AddressForm dire

[2020-03-02 19:01] kieckhafer commented on #554
I don't recall how far we were - if we had even started - with implementing it, but do know we wanted to do so. @HarisSpahija if adding it is in your plans, please do so, we'd love to have your PR into the codebase.

[2020-03-03 09:30] HarisSpahija opened #662 "[ESv2] Update Documentation for Example Storefront"
# Feature Name
Update Documentation for Example Storefront

### Summary description
Since the recent update of 3.x there is a lot of documentation that either needs to be added to the 3.x flag or needs updating.

### Rationale for why this feature is necessary
Currently working with multiple versions of documentation is confusing due to the multiple versions not reflecting the current example-stor

[2020-03-03 09:31] HarisSpahija commented on #662
Adding ESv2 (Example Storefront v2)

[2020-03-04 10:15] HarisSpahijaPon commented on #524
Hey guys, an update on this. Currently this is how we implemented i18n in our environment
i18n is implemented trough the `next-i18next` library that can be found here:
https://github.com/isaachinman/next-i18next

i18n consists out of 3 components:

- Config
- Component HOC
- Static Translation files

Config

The configuration for `next-18next` is located in `src/i18n.js`.
**i18n.js**
[code]

**Com

[2020-03-05 11:11] HarisSpahijaPon commented on #524
Hey guys, an update on this. Currently this is how you can implement next-i18next in your environment
i18n is implemented trough the `next-i18next` library that can be found here:
https://github.com/isaachinman/next-i18next

i18n consists out of 3 components:

- Config
- Component HOC
- Static Translation files

**Config**

The configuration for `next-18next` is located in `src/i18n.js`.
**i18n.js

[2020-03-06 18:10] CristianCucunuba commented on #524
We implemented next-i18next the same way you did and it's working as well, but we have a warning that says,we haven't declared the namespacesRequired specially when the component uses multiple HOC's. We use @withTranslation always as the first HOC, but the warning keeps displaying inside the other HOC's. Have you seen this problem?

ps. Thanks for the snippet

[2020-03-07 14:01] HarisSpahija commented on #524
@CristianCucunuba I think for debugging your @withTranslation you can best go and post an issue on the next-i18next github repo.

[2020-03-07 14:06] redscare commented on #524
it looks like you missed this part:
ExampleComponent.getInitialProps = async () => ({
  namespacesRequired: ["ExampleNameSpace", "ExampleNameSpace2"]
});

[2020-03-11 13:17] HarisSpahija commented on #524
@aldeed I think it will be a good idea to add a basic implementation of the english language and then merge it into example-storefront. After that we can allow individual pull requests for multiple languages.

It would be an amazing help to add some labels to this. If anyone wants to make a PR with the implementation of my snippet would be great!

[2020-03-29 17:24] aldeed commented on #661
@janus-reith Is this still on your "make a PR when I get a chance" list?

[2020-03-30 08:54] janus-reith commented on #661
@aldeed Hi, sorry, yes it is, altough I focused on the storefront reimplementation and fixed it there in one go.
I`m done with most of the stuff there and could quickly do a PR for the token refresh here if this still is relevant,

[2020-03-31 03:36] aldeed commented on #661
It would be nice to fix here if it’s not a lot of work.

[2020-03-31 19:37] janus-reith commented on #661
Will prepare something

[2020-04-06 08:29] janus-reith commented on #661
Just to give an update, I basically finished this,
but faced a weird error here that I couldn't resolve yet properly:
https://github.com/reactioncommerce/example-storefront/blob/trunk/src/lib/apollo/initApollo.js#L68-L72

I had to remove `options.req.logout()`, as now the /refresh route will determine wether a refresh was successful, or the user should be logged out to prevent an infinite loop.
Th

[2020-04-06 16:29] aldeed commented on #661
@janus-reith Seems like you've put a lot of work into this, so thank you for that. Some of your issues bring to mind the same roadblocks we hit in the initial implementation.

I haven't looked at it closely, but there might be some techniques in this package that could help: https://www.npmjs.com/package/apollo-link-token-refresh

The logout call does nothing except clear the auth cookie. I would

[2020-04-06 16:52] janus-reith commented on #661
@aldeed Thanks, I also noticed that package, and I think it basically does the same thing, which is to queue upcoming queries until the fetch is resolved.
I will compare implementations, because that's where I got stuck and didn't have time left last time. Also I did't want to just plug that in, as I didn't want to introduce another unknown here and instead want to be able to actually keep track o

[2020-04-26 16:51] nonfungibletunji opened #670 "Use Short Title Not Title on PDP for Variant Options"
Type: **breaking|critical|major|minor**

Major

**Describe the bug**
The select list on the PDP uses, product variant title, and not short title?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to PDP on the example storefront.

**Expected behavior**
The selection list for product options on the PDP should show the short title.

**Screenshots**
If applicable, add screenshots to help expla

[2020-05-05 19:42] aldeed commented on #671
Moved this to example-storefront since it should be possible to implement this entirely in the storefront without API changes.

[2020-05-21 13:17] janus-reith commented on #671
Would such a reorder feature just take care of adding the same items to you cart again and maybe set the shipping address, or actually take care of placing the whole order?
The former would probably be easy to implement, the latter could get more complex with things like payments, which would also need to be authorized again.

One thing to keep in mind is, that the billing address is not stored on

[2020-05-21 17:12] aldeed commented on #671
@janus-reith All good questions. It seems the first two simple implementations of this would be an `Add to Cart` button next to each item when viewing previous orders, and an `Add All to Cart` button for the order itself.

For more of a one-click reorder, it might be possible to skip the cart entirely. You can call `placeOrder` without there ever having been a cart. But we haven't really tested th

[2020-06-04 20:43] willopez opened #674 "Recheck setSearch and remove or replace it in context/RoutingContext.js"
Type: Refactor

**Describe the bug**
 Recheck `setSearch` and remove or replace it in context/RoutingContext.js. See for context: https://github.com/reactioncommerce/example-storefront/pull/667#issuecomment-616207068

**Expected behavior**
`setSearh` should correctly set query string params.

[2020-06-04 20:46] willopez opened #675 "Migrate components/ProfileContainer and containers/catalog/withCatalogItems"
Type: Refactor

### Summary
Migrate `components/ProfileContainer` and `containers/catalog/withCatalogItems` to hooks and remove the Provider in `lib/apollo/withApollo` to be able to remove `@apollo/react-components` and `apollo-client`. See PR: https://github.com/reactioncommerce/example-storefront/pull/667#issuecomment-616207068 for context.

[2020-06-04 21:42] willopez opened #676 "Remove or refactor segment analytics"
Type: refactor

**Describe the refactoring**
Remove or replace `custom/analytics/provider.example.js` and `custom/analytics/segment.js` depending on how we implement this. For additional context see: https://github.com/reactioncommerce/example-storefront/pull/667#issuecomment-616207068

[2020-06-04 21:44] willopez opened #677 "Resolve the React.createFactory() warning"
Type: minor

**Describe the bug**
Resolve the `React.createFactory()` warning by moving that component off the library and into a new simple MUI component. See https://github.com/reactioncommerce/example-storefront/pull/667#issuecomment-616207068 for context

[2020-06-04 21:46] willopez opened #678 "Avoid styling issues resulting from component library version mismatches"
Type: refactor

**Describe the refactor**
Avoid styling issues resulting from library version mismatches by removing all references to the component library and move things over to the storefront repo. See https://github.com/reactioncommerce/example-storefront/pull/667#issuecomment-616207068 for more context.

[2020-06-04 21:48] willopez opened #679 "Find out what causes error-fetching-graphql Error: Tag not found"
Type: minor

**Describe the bug**
Find out what causes `error-fetching-graphql Error: Tag not found`. This occurs during the fetch for static data called in `getStaticProps`. We could consider adding a log to console for each of the functions I created in `staticUtils`, to better determine what slug/_id/name was used in a call, also later durng runtime if a page is revalidated or created during fa

[2020-06-04 21:49] willopez opened #680 "Add new Docs, primarily describing the patters how the hooks and Providers for React Context and static data fetching works."
Type: minor

**Description**
Add new Docs, primarily describing the patters how the hooks and Providers for React Context and static data fetching works. See https://github.com/reactioncommerce/example-storefront/pull/667#issuecomment-616207068 for more context.

[2020-06-04 21:51] #661 closed

[2020-06-04 23:25] mikemurray opened #681 "Fix broken tests"
Type: **critical**

**Describe the bug**
All unit tests are failing

[2020-06-05 17:45] mikemurray opened #683 "Fix & re-enable tests or remove unnecessary code and associated tests"
Type: **minor**

**Describe the bug**

Some tests, of the few 14, no longer work at all due to a massive update. Listed below are the places where the tests live that need to be revisited.

- `lib/tracking/utils` // Disabled in package.json jest config
- `tests/integration/ssr.test.js` // `.skip` added to suite
- `lib/utils` (Moved mock data into closer folder to fix missing imports)

### Loose di

[2020-06-05 19:45] #681 closed, assigned to nobody

[2020-06-10 07:40] reith-outgrow commented on #683
Maybe let's have a general overview of test we want to have in the storefront?
@mikemurray  Which one would you consider important?
Also, some options regarding the toolchain we could use changed the past years, e.g. we could decide between @testing-library/react, enzyme or react-test-renderer and I don't have a clear recommendation.

I'd like to see E2E tests introduced at some point for all the

[2020-06-10 07:43] janus-reith commented on #683
Maybe let's have a general overview of test we want to have in the storefront?
@mikemurray  Which one would you consider important?
Also, some options regarding the toolchain we could use changed the past years, e.g. we could decide between @testing-library/react, enzyme or react-test-renderer and I don't have a clear recommendation.

I'd like to see E2E tests introduced at some point for all the

[2020-06-12 21:22] mikemurray commented on #683
@janus-reith I agree that snapshot tests are too brittle. We should be going toward using `@testing-library/react` as the testing library as we already use it elsewhere. If testing of components is still helpful to us as the maintainers of the `example-storefront` base project, then testing interaction loosely with `getByRole` and `getText` and such from testing library may be more helpful. Checki

[2020-06-15 17:25] willopez commented on #683
@mikemurray @janus-reith I agree with both. I'll create a new PR to remove the snapshot tests and configure react-testing-library and perhaps cypress on another PR.

[2020-06-15 19:05] janus-reith commented on #683
@mikemurray Thanks, the `storefront-utils` package sounds great, I'd like to get back to it at a later point after refining the hooks more - Basically my plan is to avoid passing props for all data that is not ui-related or tied to the component (so only things like e.g.`hasRedBackground` are left ) - Will create a separate Issue for that. I have no experience so far with @testing-library/react, b

[2020-06-16 22:06] willopez commented on #683
@janus-reith You are right, all the snapshot tests have been removed. I have started the work towards using `react-testing-library`, I just added the foundation and removed unnecessary dependencies in #686

[2020-06-18 18:28] janus-reith opened #689 "Sitemap Handler produces urls with undefined protocol"
Type: minor

**Describe the bug**
The sitemap handler uses `req.protocol` to determine wether to use http or https for the links it returns:
https://github.com/reactioncommerce/example-storefront/blob/ddd0d069ae9f4498b98c8ca8acb79aa532bd3126/pages/api/sitemap.js#L12

`req.protocol` is an express feature not present in nextsjs api routes.
All it does is return `req.connection.encrypted ? "https" :

[2020-06-18 18:30] janus-reith commented on #689
@willopez Maybe we could merge a quick fix prior to the next release? - I will prepare something now.

[2020-06-18 18:41] willopez commented on #689
Sounds good

[2020-06-18 22:49] #689 closed, assigned to nobody

[2020-06-29 21:05] janus-reith opened #691 "Production docker builds are broken due to some change in the Dockerfile"
Type: **major**

**Describe the bug**
This commit: https://github.com/reactioncommerce/example-storefront/commit/ddc3ae02fa7e791685e716397a2eca446079a0b5 broke the docker build of the new storefront by putting everything into quotes and thereby exporting a string instead of exporting env vars and running `next build`.

@mikemurray I only found this commit when investigating how this was introduced

[2020-07-01 16:39] ghost opened #692 "Problem on variant price when changing the currency"
Type: minor

**Describe the bug**
May be a reaction-admin bug.
I create a product with somes variants in $ currency.
If I want to chang the currency to € in reaction-admin, I have a storefront issue in variant price

**To Reproduce**
Steps to reproduce the behavior:
1. Go to reaction-admin, create a product in $ currency
2. change the currency to €
3. try to display the product in storefront
4. Se

[2020-07-01 17:34] mikemurray commented on #691
@janus-reith I see.. I suppose the solution to try would be to revert it and a hadolint ignore for that line so it doesn't complain.

[2020-07-01 17:44] ghost commented on #692
It seem to be a cache problem.

If I update the price in admin, It will not change in the frontend GraphQL query result, like the currency.

If I add a variant in my product in admin, everything work again in frontend, price and currency are ok in the graphQL query result. So currency shop and currency variant is matching and the result of priceByCurrencyCode function is ok

[2020-07-01 18:05] janus-reith commented on #691
@mikemurray Yes sounds good, although I would also be fine with a different syntax for this if there is any for this that would pass hadolint, or some other way to use env vars in general.
It actually took me some trial and error aswell to find out what to put in curly braces here, I didn't actually believe this one with the nested `${}` to be the correct approach but had tried others that didn't

[2020-07-02 22:03] #691 closed, assigned to mikemurray

[2020-07-08 18:56] janus-reith opened #695 "Builds currently fail due to the page for the default product slug rendering the ProductDetail component"
Type: **critical**

**Describe the bug**
Builds currently fail with `TypeError: Cannot read property 'media' of undefined` when the /[lang]/product route is built.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a production build

**Expected behavior**
Builds don't fail. As the default slug "-" usually won't exist in the api during build, a simple "Not found" page is created.
Add any ot

[2020-07-08 19:15] janus-reith opened #697 "The index page is not using revalidation, stays empty on production builds if no shop present during build"
Type: **major**

**Describe the bug**
The index page fetches the shop data during build time, and passes its `_id` down to the clientside Query for catalog items.
As the shop is not present during the default CI build(and I suggest you to change that if possible), and no revalidation is set for that page. the shop id stays undefined and the query for catalog items is skipped.

**To Reproduce**
Ste

[2020-07-08 21:24] #695 closed, assigned to nobody

[2020-07-09 16:35] #697 closed, assigned to nobody

[2020-07-10 00:02] CristianCucunuba opened #699 "infinite loader if the payment is rejected"
Type: **minor**

**Describe the bug**
When you are placing and order on the checkout, using X payment gateway, If the payment is reject or fails the loader waiting for the order to place, never stops and we can't notifying the user that the payment failed.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a product to the cart
2. Go to the checkout and fill step 1 and 2
3. Select your paym

[2020-07-10 07:50] janus-reith commented on #699
@CristianCucunuba Thanks for filing the issue!
Could you add which branch/version you use while observing that issue?

It seems like you spotted the right place, as due to my latest changes, `this._isMounted` is not set to true in the first place:
https://github.com/reactioncommerce/example-storefront/commit/0ae583eb5f3f7a96270d968b536c770773a3cc38#diff-9b6019bce1be1df5431a56f4a139663dL77
Fixing t

[2020-07-10 15:43] CristianCucunuba commented on #699
I'm using v3.1.0/trunk, at the moment I haven't seen other issue with the component

[2020-07-13 23:14] willopez opened #701 "Unnecessary request for anonymous cart and account cart"
Type: **minor**

**Describe the bug**
On a clean installation, request for the anonymous cart and account cart will be executed even though, they are explicitly directed not to by the `skip` param. This is a known issue with Apollo Client, [https://github.com/apollographql/react-apollo/issues/3492](https://github.com/apollographql/react-apollo/issues/3492). Revisit this after Apollo Client v3 is r

[2020-07-14 19:54] janus-reith commented on #699
Closing this now that #700 is merged and @manueldelreal confirmed that showing an error message works.
(Further context: Usually I would leave this open until the fix landed in a release, but this error should only occur in trunk but not the latest stable v3.1.0)

[2020-07-14 19:54] #699 closed, assigned to janus-reith

[2020-07-14 20:05] janus-reith commented on #701
As `react-apollo` is deprecated, here are some more recent related issues on `apollo-client` which is the library we're currerently experiencing that issue with:

https://github.com/apollographql/apollo-client/issues/6572
https://github.com/apollographql/apollo-client/issues/6507
https://github.com/apollographql/apollo-client/issues/6190

v3.0.0 stable was released 4 hours ago, will check if that

[2020-07-14 20:06] willopez commented on #701
@janus-reith sounds good and thank you for checking. And looks like this PR might be related to this issue: https://github.com/apollographql/apollo-client/pull/6589

[2020-07-14 20:19] janus-reith opened #703 "Reduce verbosity of getStaticProps"
# Summary description
We currently need to include `getStaticProps` in every page to fetch data on the server when creating a static page.
Instead, I tried to put that function and just reexport it per page, and can confirm that this works.
On a page this would just look like this:
[code]
TBD: We could create multiple functions similar to getDefaultStaticProps which include other specific fetches,

[2020-07-14 20:25] janus-reith opened #704 "Run fetch calls in getStaticProps in parallel / Batch Queries"
### Summary description
Run fetch calls in parallel

TBD: Refactor the whole logic to just batch all necessary queries into one call, to avoid several roundtrips altogether.
This will be especially notable when fallback rendering is happening and storefront and api have some network distance.

### Rationale for why this feature is necessary
Currently. each GraphQL Query for SSG is awaited and then

[2020-07-14 20:31] janus-reith commented on #701
@willopez Yes I was thinking the same thing when I noticed it. Looking at the code, that itself probably won't solve it as the logic regarding `onCompleted` is happening after the query ran or was skipped accordingly, but at least it looks like they're currently working at that topic somehow.

[2020-07-19 18:07] jhonsfran commented on #676
hi @willopez I'm really interesting on work in this feature but I'm not sure how can approach it. Could you tell me how can I help?

[2020-07-20 18:23] #701 closed, assigned to nobody

[2020-07-21 16:41] willopez commented on #676
Hi @jhonsfran1165 and thanks for your interest in Reaction. It would be great if you can help with this effort, the main goal is no remove many of the HOC(Higher Order Components) that are currently used to  implement tracking. HOC add too much unnecessary complexity and we believe is not the best strategy for this feature. With that said, the idea is to used a hooks(React hooks) based tracking im

[2020-07-21 17:43] janus-reith commented on #676
@jhonsfran1165 Thanks for offering your help, highly appreciated!

It seems like react-tracking supports hooks by now, however, I'd be happy with any solution which as @willopez pointed out, doesn't add any unnecessary complexity and stays provider-agnostic. Parts of the existing implementation might still be useful, or completely obsolete with the latest version of react-tracking or any potential

[2020-07-21 18:06] janus-reith commented on #676
I had a quick look at the react-tracking codebase and documentation, and started to wonder If we need to use any library at all, at least I failed to find much value this provides nowadays with the way things are implemented now.

As I also found no other library yet that provides any meaningful value or reduces time to implement this, my best bet would be to just create a simple event tracking ho

[2020-07-26 06:26] ghost opened #707 "Use Local Web Fonts"
# Feature Name
Replace Google Font with local web font

### Summary description
There's a call to some Google Web Fonts in the source code. Any such calls should be removed and a local web font added to the storefront/admin/etc.

### Rationale for why this feature is necessary
Google Fonts cause cross-origin requests which are unnecessary as their CDN isn't allowed in some countries due to privacy

[2020-07-26 07:28] ghost commented on #707
On second thought, users can do this themselves. The storefront is incredibly fast and using Google Fonts will allow users to get up and running more quickly. Closing.

[2020-07-27 07:39] ghost opened #708 "Add Maintenance Page"
# Feature Name
Add ~~Coming Soon and~~ Maintenance Pages

### Summary description
Provide ~~two~~ <ins>a</ins> page~~s~~ for stores which are ~~either (1) not yet launched or (2)~~ undergoing maintenance. ~~In both cases~~ provide the user an experience that allows the user to take some action which continues to grow the business (e.g. a launch email sign-up form).

### Rationale for why this feat

[2020-07-27 10:09] janus-reith commented on #708
Thanks for taking the time to file this issue and preparing a mockup @balibebas!
The example storefront, as the name says, is just an example implementation meant to be customized.
I don't really consider such a screen a priority at all as it is easy to add one based on individual requirements, although I also wouldn't consider it to be an issue to showcase this functionality if someone wants to d

[2020-07-27 10:11] janus-reith commented on #707
Moving over the default font would be a really quick fix, I'd be open to that idea.

[2020-07-27 12:26] ghost opened #709 "Begin TypeScript Migration?"
# Summary description

Migrate project to TypeScript.

## Implementation

Looks like an easy win as TS can be adopted incrementally. To add support in this project simply:

[code]

Next.js will populate the `tsconfig.json` file with some sane defaults as the container comes up and you can start renaming source files to end with `ts` and `tsx`. (Note at least one TypeScript file is required in the

[2020-07-27 12:31] ghost commented on #707
If I end up doing this locally, I'll loop back and sub a pull.

[2020-07-27 16:51] willopez commented on #676
@janus-reith I agree, if a simple hook can get the job done, then let's do that.

[2020-07-28 06:44] balibebas commented on #704
Until the number of round trips can be are minimzed I believe there'd be a marked improvement in performance by using `Promise.all` rather than `await`ing each response.

[2020-07-28 08:06] ghost opened #710 "Shop name not persisting on Mobile Nav"
Type: **minor**

**Describe the bug**
Shop name is not persisting on the mobile navigation.

**To Reproduce**
Steps to reproduce the behavior:
1. Set shop name via admin app.
2. Observe shop name displays in Header.
3. Shrink viewport size to display mobile navigation.
4. Open mobile navigation and observe shop name

**Expected behavior**
Shop name appears consistently across the app.

**Screensho

[2020-07-28 11:28] ghost opened #711 "Segment Analytics sending empty payloads"
Type: **minor**

**Describe the bug**
Segment is sending empty payloads in development on `trunk`. It's only sending Page events. It doens't capture any page other than `/` and it's no longer sending other tracking events.

**To Reproduce**
Steps to reproduce the behavior:
1. Rebuild and start app in development using `trunk` branch.
2. Add `SEGMENT_ANALYTICS_WRITE_KEY` in `.env`
3. Load a page
4.

[2020-07-28 11:35] ghost opened #712 "Sitemap isn't being generated"
Type: **minor**

**Describe the bug**
The sitemap isn't being generated on `trunk` in development.

**To Reproduce**
Steps to reproduce the behavior:
1. Start development.
2. Navigate to `/sitemap.xml`
4. See screenshot.

**Expected behavior**
A sitemap is generated with pages for each locale present.

**Screenshots**

![Screen Capture_select-area_20200728193128](https://user-images.githubusercont

[2020-07-28 12:59] ghost opened #713 "Back button must be pressed twice to leave PDP"
Type: **minor**

**Describe the bug**
When navigating to a product the URL updates twice and requires two back-button presses to leave. The interim page has an incorrect title.

**To Reproduce**
Steps to reproduce the behavior:
1. Start 3.1.0 production build
2. Click on a product from homepage
3. Press the back button
4. Press the back button again

**Expected behavior**
Only one back-button pres

[2020-07-28 13:08] janus-reith commented on #711
@balibebas I don't see what's wrong here, could you elaborate further on the issue? What I see highlighted here is a Page view for "/", I wouldn't expect any further payload data to be attached to that.

[2020-07-28 13:14] ghost commented on #711
@janus-reith I added some more details to the OP. Essentially no events are being sent for typical tracking purposes and only page events are coming through and the payload is always empty or mostly empty. This is a regression. The best way to see it is to wire up a test Segment account or observe the payloads being sent with a client-side proxy or devtools.

[2020-07-28 15:24] ghost opened #714 "Restore ability to customize routes"
Type: **minor**

**Describe the bug**
The i18n work done on this app introduced an i18n router and removed the ability to customize routes or see what routes are available at a glance. As a result it's no longer trivial to add a custom homepage [as described](https://docs.reactioncommerce.com/docs/swag-shop-5) in the docs.

**To Reproduce**
Steps to reproduce the behavior:
1. Spin up a dev environ

[2020-07-29 12:23] janus-reith commented on #711
@balibebas I think this is covered by https://github.com/reactioncommerce/example-storefront/issues/676

[2020-07-29 12:27] janus-reith commented on #711
@balibebas I think this is covered by https://github.com/reactioncommerce/example-storefront/issues/676.
Closing this, but happy to reopen if you disagree.

[2020-07-29 12:27] #711 closed, assigned to nobody

[2020-07-29 12:41] janus-reith commented on #714
@balibebas
Technically, nothing prevents you from creating new pages, or adding custom routes in your next.config.js.
I guess this is mainly a matter of lacking documentation, but techncially there is no functionality that needs to be restored.

Just instead of relying on a custom express server and a package that was last updated over 2 years ago, we now make use of the latest features Nextjs off

[2020-07-29 12:54] janus-reith commented on #712
The sitemap is fetched from the API over GraphQL and created there, please check your sitemap settings in the admin.
If anything doesn't work as expected, please open an issue there instead: https://github.com/reactioncommerce/api-plugin-sitemap-generator.
If you can't pinpoint an API issue to a plugin though, you could also just create an issue about it here: https://github.com/reactioncommerce/r

[2020-07-29 12:54] #712 closed, assigned to nobody

[2020-07-29 13:20] janus-reith commented on #713
The back button routing itself probably works fine, but what happens is that first we route to the product page, and next set the url to point directly to that variant: https://github.com/reactioncommerce/example-storefront/blob/f8dbd9e6a4800b3b3d87d193bfae88f989b35b90/components/ProductDetail/ProductDetail.js#L77

In v3.1 we used `Router.pushRoute `with `{ replace: true }`, from next-routes, now

[2020-07-29 13:31] janus-reith commented on #709
Incremental Migration to Typescript indeed is really simple with nextjs.
However, I think this is a general decision that needs to be made across the stack.
On the api, migration to typescript could come with other benefits and help generalizing schemas.

[2020-07-29 13:47] janus-reith commented on #710
@balibebas Could you check it the same error is present on the trunk branch aswell?
It is more up to date than `release-next-v3.2.0` currently.

[2020-07-29 14:05] ghost commented on #710
@janus-reith I meant to update this after checking before. Yes, same issue on `trunk`.

[2020-07-29 14:13] #714 closed, assigned to nobody

[2020-07-30 07:16] janus-reith opened #715 "Upgrade to nextjs 9.5.1"
# Feature Name
We should upgrade to nextjs v9.5.1.

### Summary description
Upgrade next to v9.5.1, shift the rewrites and redirects in `nextjs.config.js` up and and out of the experimental key, remove `unstabe_` prefix from `getStaticProps` `revalidate`.

### Rationale for why this feature is necessary
Since v9.5.0, the remaining experimental features we make use of ( `unstable_revalidate`, `redi

[2020-07-30 07:47] janus-reith opened #716 "Optionally allow blocking fallback rendering"
# Feature Name
Allow for blocking fallback rendering to be toggled by environment variable and add documentation.

### Summary description
Keep track of https://github.com/vercel/next.js/pull/15672 and as soon as it is released, maybe add it under an environment variable to optionally switch fallback rendering to blocking.

### Rationale for why this feature is necessary
Many product pages don't e

[2020-07-31 20:44] mikemurray opened #718 "Build is dependent on a committed ENV file, and doesn't obey system ENV vars for GQL url"
Type: **critical**

**This is a blocker for releases**

**Describe the bug**

The `BUILD_GRAPHQL_URL` and/or EXTERNAL_GRAPHQL_URL env var is being baked into the JS bundle, likely due to the `Next.js` / `webpack` / static build. This bakes unchangeable configuration into the app, which leads to the built docker image on docker hub, being useless if you aren't using the default variables.

Part of

[2020-08-02 05:02] jhonsfran commented on #676
@willopez @janus-reith Hi guys after a while searching on the internet for a good choice I found this package that I think suits our needs. I want to know what you guys think about it.

https://github.com/davidwells/analytics

I think we can do a lot of interesting things with that library but first I want to hear your opinions. I'm trying to use it in the nextjs project and I'll let you know when

[2020-08-02 07:30] ghost opened #719 "Double-click required to show orders in profile"
Type: **minor**

**Describe the bug**
In the user account dialog users must double-click _Orders_ to view their orders.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a user profile after login.
2. Click on Orders (filling an order first if necessary)
3. Observe nothing happens with single-click.
4. Double-click Orders
5. Observe Orders are now displayed, if any.

**Expected behavior*

[2020-08-02 12:04] janus-reith commented on #719
This has been documented previously in the component library: https://github.com/reactioncommerce/reaction-component-library/issues/434

The upcoming version currently in the `trunk` branch does not make use of `InPageMenu` anymore, as I replaced it with a default Material UI `List` component.

[2020-08-02 13:34] ghost commented on #719
Good deal. Checking trunk slipped my mind this time around. Thanks for fixing that.

[2020-08-02 13:34] #719 closed, assigned to nobody

[2020-08-03 16:55] janus-reith commented on #718
I think this should go into two separate issues, as the fact pages are statically generated at build time won't compromise security of environment vars. We don't necessarily need to provide env vars from file with static generation, although those used inside the client bundle as defined in [next.config.js](https://github.com/reactioncommerce/example-storefront/blob/f8dbd9e6a4800b3b3d87d193bfae88f

[2020-08-03 17:56] janus-reith commented on #718
Regarding the static pages:

As discussed in the slack channel, skipping the render of static pages during build time currently seems to be no possibility.
What could work, is to remove the build-time generated pages at the end of the docker build, while it sounds  a bit ridiculous, that would allow the CI run to the test each page during build by building it once.
I know that at least for dynamic

[2020-08-08 09:21] janus-reith commented on #676
@jhonsfran1165 I just had a look, I like the plugin structure with the lifecycle hooks and guess that could be helpful.
 It seems to feature a resonable level of abstraction and neither the package itself nor the way you have to use it seem too bulky, also the bundled size looks ok. I'd say go for it.
By the way there also is an small accompanying package featuring a simple to use react hook and H

[2020-08-12 08:41] hamza0200 opened #720 "Static logo URL is visible in reaction admin but not in the Storefront"
We have followed the [Reaction Development Platform](https://docs.reactioncommerce.com/docs/installation-reaction-platform) to install Reaction.

## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Have you added primary logo URL?

## Issue Description
We are trying to add primary logo URL from the [admin shop](http://localhost:4

[2020-08-14 08:16] janus-reith commented on #683
I would like to add https://mswjs.io to the list.
It supports mocking REST and GraphQL calls by intercepting them on the network level and would allow for tests like this:
https://github.com/mswjs/msw#usage-example-1
(Example uses Jest and React Testing Library aswell )

[2020-08-20 10:32] hamza0200 commented on #720
Thank You [@balibebas](https://github.com/balibebas) for your reply.
When we add logo URL in the reaction-admin the logo becomes visible in the reaction-admin menu but not in the store-front.

Please note that if multiple shop is supported then even the main website's logo should be visible in the store-front e.g. if you see amazon and aliexpress you will see that even on the shop page the main lo

[2020-08-21 06:05] ghost commented on #720
I saw in the API yesterday there's a concept of a primary shop, so the comment I removed seems no longer relevant. Thanks for opening this. I'd love to see the Logo working as well as I finally just finished mine and stumbled upon the same issues you've opened here @hamza0200. 🙏

[2020-08-21 06:48] hamza0200 commented on #720
Thank you @balibebas, let me know if you find something about the fix.

[2020-08-21 17:49] kieckhafer commented on #720
I'm going to transfer this issue from `reaction-development-platform` to `example-storefront`. I'll leave this issue open for the time being for further discussion, but I believe it should be closed, hopefully the answer below satisfies your questions.

_____

The Reaction API, Reaction Admin, and Example storefront are three independent applications at this point. The Reaction API is the real wor

[2020-08-26 11:18] balibebas commented on #720
Erik gave a nice, concise summary above. You can use that info to run an [`updateShop` mutation](https://github.com/reactioncommerce/reaction/blob/98ef20a54ffc3dd2586f75c16ead858e57ab6955/src/core-services/shop/mutations/updateShop.js) to add a `primaryShopLogoUrl` which will then appear for the primary shop in the MongoDB. Here's an example mutation:

[code]

It's worth pointing out that the Exam

[2020-08-26 11:21] ghost commented on #720
Erik gave a nice, concise summary above. You can use that info to run an [`updateShop` mutation](https://github.com/reactioncommerce/reaction/blob/98ef20a54ffc3dd2586f75c16ead858e57ab6955/src/core-services/shop/mutations/updateShop.js) to add a `primaryShopLogoUrl` which will then appear for the primary shop in the MongoDB. Here's an example mutation:

[code]

It's worth pointing out that the Exam

[2020-08-26 16:00] ghost commented on #493
@janus-reith this can be closed

[2020-08-26 16:09] ghost commented on #467
@janus-reith looks like this can be closed too

[2020-08-26 16:13] ghost opened #721 "ENOSPC: no space left on device"
Users who run into this issue do the following:

- Clean up dangling containers to try and free up space. [See RC documentation.](https://docs.reactioncommerce.com/docs/installation-docker-development).
- Run the `make clean-example-storefront` [project command](https://github.com/reactioncommerce/reaction-development-platform#project-commands)
- If using Docker for Mac, increase the the amount of

[2020-08-26 16:13] #721 closed, assigned to nobody

[2020-08-26 16:16] janus-reith commented on #467
Correct @balibebas, this shouldn't be an issue in some later versions, if someone still runs into permission issues related to that volume, a solution is outlined above. Closing this.

[2020-08-26 16:16] #467 closed

[2020-08-26 16:17] janus-reith commented on #493
Agreed, closing this.

[2020-08-26 16:17] #493 closed

[2020-08-30 20:22] ghost opened #722 "Disable stripe script loader when Stripe is not a defined payment method"
Type: **minor**

**Describe the bug**
Stripe script loader loads even when stripe is disabled. The script loader kicks off three http requests which lead to blocking in the run loop even when Stripe is explicitly disabled as a payment method.

**To Reproduce**
Steps to reproduce the behavior:
1. Disable the Stripe payment method hard-coded in the storefront `paymentMethods` array.
2. Reload the pa

[2020-08-30 20:55] #709 closed, assigned to nobody

[2020-08-30 21:00] ghost commented on #708
Similar to how the IOU payment example works for the API plugins I feel it would be good to keep a custom landing page of some sort present so this rather typical use case will always be considered as refactoring of the app and docs occur. Given not everyone needs a fancy landing page providing some sort of experience for API outages or errors would be nice. So having a maintenance page which appe

[2020-08-31 14:25] ghost commented on #707
I've decided to use `v3.1.0` for now while I wait for the next release. Here's how I addd locally-hosted webfonts without getting clever:

Create a file called `WebFonts.js` under `/src/custom/components` with the following contents:

[code]

Added the related font files to `static/fonts` directory after creating it. Then simply `import` the `WebFonts` component into the `_document.js` file and dr

[2020-08-31 17:23] balibebas commented on #707
Example Storefront v3.1.0 Lighthouse score on Production Deployment before above Web Font change:

<img width="520" alt="Screen Shot 2020-09-01 at 01 19 02" src="https://user-images.githubusercontent.com/65664227/91747845-85a43b80-ebf1-11ea-8e5e-cf5f335063f4.png">

Lighthouse score on Production Deployment after above Web Font change:

<img width="504" alt="Screen Shot 2020-09-01 at 01 20 57" src=

[2020-09-04 16:15] balibebas commented on #712
I've started opening issues there starting with https://github.com/reactioncommerce/api-plugin-sitemap-generator/issues/12 which may be why, in the image above, we don't see the the Tags Sitemap being generated. Given the different moving parts related to sitemap generation (API/Job Queue/Sitemap Generator) it's a bit tricky to debug. On the off chance you have any suggestions for hot to get a deu

[2020-09-04 16:17] ghost commented on #712
Thanks @janus-reith. I've started opening issues there starting with https://github.com/reactioncommerce/api-plugin-sitemap-generator/issues/12 which may be why, in the image above, we don't see the the Tags Sitemap being generated. Given the different moving parts related to sitemap generation (API/Job Queue/Sitemap Generator) it's a bit tricky to debug.

In the off-chance you have any suggestion

[2020-09-12 15:53] ghost commented on #676
Please don't remove Segment Analytics. It's in a great spot in `v.3.1.0` and adds tremendous value for new shops who want to start measuring KPIs without having to reinvent the wheel. As an example, here are some dashboards I was able to create using Amplitude via Segment without so much as lifting a finger on Analytics code:

<details>
<summary>Expand to view dashboard</summary>
<img width="1414"

[2020-09-12 16:00] ghost opened #724 "Please cut a minor"
I'd like to take advantage of some of the work @janus-reith did back on May 20. Specifically I want to use the upgraded version of MUI as v3 is meh especially now that I've had some time [in another project](https://git.habd.as/comfusion/gatsby-starter-shopify-headless-commerce) to work with the Chakra UI 1.0 pre-release. I'd cut my own right now on my fork I'm just not sure which commit to point

[2020-09-12 16:36] janus-reith commented on #676
@balibebas As discussed above, I think the plan is not to remove segments, but find a solution that works better than the existing react-tracking based class decorators. Maybe the title of this issue could be updated to reflect that.

@jhonsfran1165 Are you still interested in working on a solution?
In the meantime, I implemented a solution based on https://github.com/davidwells/analytics for my p

[2020-09-12 18:51] jhonsfran commented on #676
@janus-reith yes I've been a bit busy but I'm still working on this. Of course, I'm using that library it's really cool.

Hopefully, I'll push something at the end of the next week.

[2020-09-14 19:07] ghost commented on #724
I started cherry-picking my way through some of the commits to get MUI 4 installed and saw the codebase wasn't stable due to parallel dependency upgrades. Also, as a downstream consumer I find microcommits—left unsquashed—causing a bit of cognitive overhead I feel would be better utilized in a MUI upgrade in my own fork.

As a result, I'm going to close this and wait while release blockers are fix

[2020-09-14 19:07] #724 closed, assigned to nobody

[2020-09-14 19:58] ghost opened #725 "Prettify the codebase"
Type: **,minor**

**Describe the chore**
Please run the code through the prettier formatter. It seems it may not have been enabled when some of the development was taking place and, as a result, is going to make it more difficult to maintain forks without it.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the Prettier extension for VSCode.
1. Open `_document.js`.
2. Save the documen

[2020-09-17 10:43] mian-muhammad commented on #720
@balibebas shouldn't it be `/staticUtils/shop/primaryShop.js` instead of `primaryShop.gql`, you can add

[code]

Inside this [code snippet](https://github.com/reactioncommerce/example-storefront/blob/f8dbd9e6a4800b3b3d87d193bfae88f989b35b90/staticUtils/shop/primaryShop.js#L2-L14), which should then look like this

[code]
And you should be getting something like this inside your `shop` object:

[co

[2020-09-17 16:38] ghost commented on #720
Thanks @hamza0200. I updated my instructions to specify the storefront version the instructions applied to (`v3.1.0`). I see in `trunk` the file moved and the one you've referenced looks like the correct place for the refactor.

[2020-09-18 08:51] janus-reith commented on #725
Again I think this is a discussion that should be made across the projects, not specific to the storefront.
RC has its own formatting and linting rules in place, which indeed conflict with Prettier defaults, but also are at very different versions on the different projects: https://github.com/reactioncommerce/reaction-eslint-config

I also like using Prettier + auto-formatting, So I'd welcome this

[2020-09-18 11:06] mian-muhammad commented on #720
@balibebas would you mind telling me where is this `primaryShop.gql` file is?

[2020-09-19 21:13] balibebas commented on #725
Thanks, Janus. I see the `reaction` repo has the same config so I presume this is a bug which occurred before #532 was corrected. As a result, I would expect the format-on-save option to or a single format-and-fix operation across the repo via CLI not to have too many conflicts with ESLint depending on how long development occurred with Prettier disabled.

[2020-09-19 21:13] balibebas commented on #725
Thanks, Janus. I see the `reaction` repo has the same config so I presume this is a bug which occurred before #532 was corrected. As a result, I would expect the format-on-save option or a single format-and-fix operation across the repo via CLI not to have too many conflicts with ESLint—depending on how much development occurred with Prettier disabled.

[2020-09-19 21:15] ghost commented on #725
Thanks, Janus. I see the `reaction` repo has the same config already in place so I suspect the decision was already made and presume this is a bug which occurred before #532 was corrected.

[2020-09-19 21:17] ghost commented on #720
@mian-muhammad Of course. See [the 3.1.0 tag](https://github.com/reactioncommerce/example-storefront/tags), the version I mentioned. That's the latest stable storefront release.

[2020-09-21 05:47] mian-muhammad commented on #720
@balibebas can you elaborate difference between `trunk` and `v3.1.0`

[2020-09-21 07:06] ghost commented on #720
@mian-muhammad that's more of an offline conversation probably more appropriate for Gitter.

[2020-09-22 03:30] mian-muhammad commented on #720
Oh great, I was at `trunk`.

[2020-09-23 12:26] ghost opened #728 "Config-based footer customization"
# Feature Name
Brand icons and footer customization

### Summary description
Currently a the footer is one of the first things customers will likely want to customize in Example Storefront. I'd like to propose this is made easier and done via some sort of config (like Gatsby) so customers can deploy their stores more quickly.

### Rationale for why this feature is necessary
Users do not want to sh

[2020-09-26 19:03] ghost opened #730 "Duplicate, submitted URL not selected as canonical"
Type: **major**

**Describe the bug**
Example Storefront has an SEO issue whereby product pages are reporting the wrong canonical URL.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a product page.
2. Inspect the source.
3. Locate the `canonical` meta.
4. Observe `canonical` URL points at homepage.

**Expected behavior**
Each product should have its own canonical URL.

**Screenshots**

[2020-09-30 18:01] #722 closed, assigned to nobody

[2020-10-01 09:22] ghost commented on #730
This appears to be a duplicate of #426 which has been open since 2018. The other issue is marked as a **minor** issue but I disagree as the impact is SEO related and, as we can see below, causing pages to not get indexed by google.

<img width="944" alt="Screen Shot 2020-09-30 at 1 45 10 PM" src="https://user-images.githubusercontent.com/65664227/94791654-8b688900-040a-11eb-9701-fe287b8014f0.png">

[2020-10-02 06:21] ghost commented on #730
Found some additional info on the error message listed in the issue title:
https://support.google.com/webmasters/answer/7440203#indexed_not_submitted_in_sitemap

<img width="733" alt="Screen Shot 2020-10-02 at 2 17 25 PM" src="https://user-images.githubusercontent.com/65664227/94893573-1b194080-04ba-11eb-8f1c-153a14a8c29c.png">

What I understand based on reading that text blob as that pages are b

[2020-10-02 06:21] #730 closed, assigned to nobody

[2020-10-02 06:31] ghost commented on #426
In attempting to workaround this problem for `product` pages in version 3.1.0 of the Storefront I've added:

To product JS near imports at top:

[code]

Then in `render` method:

[code]

Then added `link` inside the `Helmet` component inside the `return` statement of `product` page like:

[code]

Oddly this results in a duplicate `link` tag with `rel="canonical"` so I'm operating under the presump

[2020-10-03 03:28] ghost commented on #426
Note for future reference this issue by way of use of `CANONICAL_URL` is related to #690

[2020-10-08 16:10] Eduard-Hasa commented on #713
I noticed this issue as well on mobile specifically on the latest reaction commerce 3.8. If you are on product page and swipe to go page to previous page it just shows same product page again until you do it again finally actually taking you back to previous page.

[2020-10-15 04:17] ghost opened #734 "[SEO] Add OpenGraph and Twitter Cards"
# Feature Name
Add OpenGraph and Twitter Cards

### Summary description
These are SEO basics and they should be cooked in to the Example Storefront.

### Rationale for why this feature is necessary
Higher click-through rates on social shares. Without them users are less likely to click on a link shred from Example Storefront.

### Expected use cases
Twitter, Fakebook, Telegram et cetera show large

[2020-10-15 04:22] ghost commented on #734
To hack this feature in for products in storefront 3.1.0 update the `render` method in `product.js` to something like:

[code]

This uses the large format product photo for social sharing. This needs to be adapted for Tag pages to use the hero image (if one), when those are shared. Something similar for pages too. And a site-wide fallback image should also be made available.

[2020-10-16 01:42] dcrdev commented on #718
Has there been any resolution to this, just encountered this when upgrading the images used by our [helm chart](https://github.com/slingshotlabs/reaction-oss-helm-chart) ?

Have had to rollback for now - whilst most people would opt to build their own images, I feel that being able to use a set of stock images gives people the opportunity to experiment in a quick start sort of fashion.

For me I w

[2020-10-20 09:35] ghost opened #735 "Checkout Missing Product Images"
Type: **minor**

**Describe the bug**
Checkout page not showing product images when images are available.

**To Reproduce**
Steps to reproduce the behavior:
1. Add an item to the Cart
2. Click on Cart
3. Observe the `CartItem` appear without an image.

**Expected behavior**
Product images appear as expected Checkout.

**Screenshots**
This one image says it all.

<img width="1446" alt="Screen Shot

[2020-10-20 14:42] janus-reith commented on #735
This is not a storefront issue, closing it.
I created an issue about this some time ago in the files plugin: https://github.com/reactioncommerce/reaction/issues/6488

[2020-10-20 14:42] #735 closed, assigned to nobody

[2020-10-20 17:18] ghost commented on #735
Glad to have these two issues linked now. Thanks for closing the dupe and pointing the way towards the root cause, Janus.

[2020-11-03 21:42] #662 closed, assigned to nobody

[2020-11-20 15:45] ihalton commented on #710
@janus-reith @balibebas hello, I met the issue too, and I submit a PR to fix it. Who is our Community PR reviewer?
It is helpful when the pr can be reviewed. Thanks

[2020-11-21 14:36] janus-reith commented on #718
@dcrdev There's multiple ways how the env vars could be handled outside of the repo, this was an initial way to have something to be able to test production builds, as there was some confusion back then on how this could be handled.
I'm happy to figure out a solution that would work best with the default internal CI flow of the team and could also serve as a default, but can't do this on my own wi

[2020-11-25 11:11] mohmmadmoussa1988 opened #739 "Waiting for Hydra Services exited with code 1"
Im not abelt to start storefront, everytimg trying to start docker getting exited with code 1 :

`test:example-storefront Mohammad$ sudo docker-compose up -d && docker-compose logs -fPassword:Starting example-storefront_web_1 ... done
Attaching to example-storefront_web_1
web_1  | fix-volumes: Fixing all volumes to be owned by '1000:1000'
web_1  | fix-volumes: Skipping volume /home/node/.cache/yar

[2021-01-19 01:17] deno028 commented on #739
Got the same problem. Did you solve it?

[2021-01-19 08:15] mohmmadmoussa1988 commented on #739
no dear, i just removed it.

[2021-01-19 08:15] #739 closed, assigned to nobody

[2021-01-19 21:54] jrw421 opened #742 "Checkout flow not functioning as expected when running in local production mode"
Type: **major**

**Describe the bug**
When running the app locally in production mode the example-storefront checkout flow does not function as expected. When the user has placed items in their cart and clicks checkout, the items are removed from the cart preventing the user from checking out.  Additionally the language switches to German (this behavior is not consistent). However, hovering over t

[2021-01-21 18:06] MohanNarayana opened #743 "Orders do not show in the profile page"
Type: **minor**

**Describe the bug**
After successfully placing an order the customer is unable to see order history in Profile -> Orders.
It happens in production environment only.

**To Reproduce**
Steps to reproduce the behavior:
1. Place an order on the store.
2. Check admin to confirm the order is placed.
3. On the storefront go to Profile -> Orders
4. The order does not show

**Expected beh

[2021-01-21 22:16] MohanNarayana opened #744 "Changes made to address book does not reflect in UI"
Type: **minor**

**Describe the bug**
Upon adding a new address or deleting an address the changes do not reflect immediately on UI. It only takes effect after browser refresh. The changes are persisted at DB level. Deleting a pre deleted address gives an appropriate address not found GraphQL error.

**To Reproduce**
Steps to reproduce the behavior:
1. On the storefront UI go to Profile - > Addres

[2021-01-22 15:36] jrw421 commented on #744
Looks like https://github.com/reactioncommerce/example-storefront/issues/654 is related to this as well.

[2021-01-26 17:08] jrw421 commented on #742
@Akarshit @MohanNarayana

[2021-01-28 08:11] Akarshit commented on #742
I ran a lot of experiments on this one and this is what I could narrow it down to:
1. If you make a local image from storefront, while you have the reaction api running on localhost:3000 and use this image, the bug is not there.
2. If you make a local image from storefront, while reaction api is not running and use this image, the bug is reproducible.

This leads me to believe that the SSR that ne

[2021-01-28 09:12] janus-reith commented on #742
Regarding the language:
This is probably due to the fallback here in the serverside browser language detection: https://github.com/reactioncommerce/example-storefront/blob/41f41479452e5b0f9f12fb7cc98f16183b21c00c/apiUtils/localeMiddleware.js#L10

This could however soon be made obsolete by just using the i18n routing nextjs now provides out of the box, which would reduce boilerplate overall.

[2021-01-29 08:16] janus-reith commented on #742
There seems to be no specific cart-related bug here, the underlying way the pages are built currently requires the api to be active and reachable, this is relevant for all pages that use shop data.

[2021-01-29 08:19] Akarshit commented on #742
Yes, I will be fixing those pretty soon.

On Fri, Jan 29, 2021 at 1:16 AM Janus Reith <notifications@github.com>
wrote:

[2021-01-29 08:30] janus-reith commented on #742
Hi @Akarshit!
For example, take a look at how the product detail page currently does it:
https://github.com/reactioncommerce/example-storefront/blob/41f41479452e5b0f9f12fb7cc98f16183b21c00c/pages/%5Blang%5D/product/%5B...slugOrId%5D.js#L133-L160
(BTW nextjs should be updated soon, `revalidate` is stable for some time)

The cart page and some other pages currently lack a directive to revalidate and

[2021-01-29 09:20] janus-reith commented on #718
There is a new `notFound` prop that can be passed in `getStaticProps`, which will return a 404 page.
During runtime this can be helpful e.g. if you have a dynamic url, and some product for a certain slug does not exist.

I just realized, that this `notFound` also seems to work during build time, and actually results in that 404 page not being served at all, instead it will revalidate the page righ

[2021-01-29 17:20] Akarshit commented on #742
@janus-reith I tried the above approach. The behavior I got was a little weird. Here is what's happening if I use `unstable_revalidate`:
1. During the build I get the cart page without the shop. So it's the empty cart page.
2. When I visit the cart page for the first time, I get served the empty cart page. At this point next start building the new page which would have the `shop`.
3. If I refresh,

[2021-01-29 23:03] janus-reith commented on #742
@Akarshit No, we most probably don't, the initial intention was to have the api reachable during build of these pages.
However, as that was not an option for everyone, this workaround above was created, which as you already noticed has some drawbacks, as it still serves the empty build-time page on first request, initiating a rebuild in the background.

See my post here: https://github.com/reactio

[2021-02-01 17:15] Akarshit commented on #742
@janus-reith Yeah, your example works fine. But one slight problem is that I tried to find documentation for it and can't seem to find anything that would suggest to use `notFound` the way you are doing. Everywhere it says to just use it to return a 404 page.
I am a bit skeptical about using that. If I have missed some resource, do you mind pointing me to it?

[2021-02-01 17:17] Akarshit opened #748 "Docker push failing for all PRs"
Type: **critical**

**Describe the bug**
All the PRs are blocked because of build failing in the CircleCI.

**To Reproduce**
Go to any recent PR, look for the failed checks.

[2021-02-01 21:59] jrw421 opened #750 "Example-storefront: 404 on PDP when admin saves a product without title"
Type: **minor**

**Describe the bug**
Admin can save and publish a product without adding its title. This product, when published, is naturally displayed on the storefront side. When the customer tries to open PDP for that product, the system throws 404 Not Found error (in case of Mac) and Sorry! We couldn't find what you're looking for error (in case of Ubuntu).

**To Reproduce**
1. From reaction

[2021-02-03 14:23] janus-reith commented on #742
@Akarshit No, I did not find documentation that states how `notFound` behaves when returned on build time. It's not behind an `_unstable` flag so I'd not expect it to change much, but we could just ask them to confirm that the current behavior is intended and meant to stay this way.

[2021-02-03 18:38] #748 closed, assigned to Akarshit

[2021-02-04 07:31] ghost commented on #728
Timeout

[2021-02-04 07:31] #728 closed, assigned to nobody

[2021-02-04 07:32] ghost commented on #725
Closing due to lack of activity.

[2021-02-04 07:32] #725 closed, assigned to nobody

[2021-02-04 07:32] ghost commented on #708
Closing due to lack of activity

[2021-02-04 07:32] #708 closed, assigned to nobody

[2021-02-04 16:46] Akarshit opened #752 "Add pre-commit hooks for linting commit message"
Add these hooks to adhere to conventional commits.

[2021-02-09 17:32] #750 closed, assigned to jrw421

[2021-02-09 17:32] #744 closed, assigned to jrw421

[2021-02-11 20:38] #752 closed, assigned to Akarshit

[2021-02-15 17:52] #710 closed, assigned to nobody

[2021-02-15 21:44] Akarshit commented on #742
Not closing this one, as I still want to followup with next folks and see if we can get a better solution.

[2021-02-18 05:40] ghost opened #755 "Refresh dependencies project-wide"
There are some updates which can be taken with this repo such as the update to React 17 (which only requires a codemod to complete) and replacement of `@apollo/react-components` (now part of `@apollo/client` following a `yarn add @apollo/client@3`. Could be a good first issue for anyone and with things like the codemod good to get in front of so downstream users don't need to immediately fork stor

[2021-02-18 05:50] ghost commented on #715
Consider superseding by #755. The Next 10 upgrade refactoring was very straightforward. Next 11 right around the corner.

[2021-02-18 07:48] #715 closed, assigned to nobody

[2021-02-18 07:52] janus-reith commented on #755
Using Next 10 would help reduce quite some boilerplate related to i18n. We wouldn’t need the toplevel dynamic path segment anymore, also Links don’t need to specify as and href each time as Nextjs would resolve them automatically. Browser Header locale detection is now built in aswell.

[2021-02-22 03:31] ghost commented on #755
Another item for the Next 10 part of the upgrade is to move the `viewport` meta into `_app` from `_document` as there's an issue in Next deduplicating at least that one meta tag (and later Next versions will WARN about it). See here for more info: https://github.com/vercel/next.js/issues/13230

[2021-02-22 06:02] ghost commented on #755
Another easy win is to upgrade react-helmet to 6.x to clean up some particularly noisy Next compiler warnings.

[2021-02-22 08:20] janus-reith commented on #755
@balibebas In other projects I removed `react-helmet` altogether in the meantime as `next/head` provides the same functionality that was used from helmet. Especially since the head and managing the order in there etc. seems to be an ongoing thing where issues seem to pop up here and there and further recent changes where made in nextjs, I'd be in favor of keeping this simple.

[2021-03-01 06:32] balibebas commented on #718
Per the Next Docs you're going to want to do something like:

[code]

Where ConfigMap items (not Secrets) are included in the bundle because of the prefix `NEXT_PUBLIC_` prefix and the `=$FOO` part pulls from the current `printenv`.

[2021-03-01 06:38] ghost commented on #718
[Per Next Docs](https://nextjs.org/docs/basic-features/environment-variables) you're going to want to do something like:

[code]

Where ConfigMap items (not Secrets) are included in the bundle because of the prefix `NEXT_PUBLIC_` prefix and the `=$FOO` part pulls from the current `printenv`. For your Secrets, keep the names of the vars the same as they were but do the `=$FOO` thing to pull from en

[2021-03-01 08:04] ghost commented on #718
@janus-reith could you help us understand your logic behind including items in the `env` key in `next.config.js`? Looking at it it feels as though you were trying to hack your way past using the `NEXT_PUBLIC_` while at the same time continuing to utilize the validation provided by envalid. Is that correct?

[2021-03-01 09:00] janus-reith commented on #718
@balibebas No, not at all a hack or something, and not really that relevant for the earlier issue outlined above.

The `NEXT_PUBLIC_` part does not really make a difference here, we were always able to make them available in the client bundle by adding them here just like we did: https://github.com/reactioncommerce/example-storefront/blob/a7d6383390843f165913bc4dff2b6d226280948a/next.config.js#L5

[2021-03-01 09:03] ghost commented on #718
Perfect, thank you. That's helpful. Considering the major release seems like a good time to make a breaking change with the ENVs. Fancy a pull or are you still waiting for opinions?

[2021-03-01 09:15] janus-reith commented on #718
I guess I'm not making the decisions, maybe wait for some core team member to chime in.
Maybe it could be done in one go when updating nextjs to v10.
Either way, personally I wouldn't consider it a big priority right now TBH.

[2021-03-03 04:45] ghost commented on #755
Also going to suggest a bump to MUI v5 beta as, according to maintainers, V4 has been out of active development for a year.

[2021-03-11 17:44] bugfloyd commented on #652
I choose this issue for my first contribution to the project. After looking around in the code base, I tried to debug the issue. However, I need advice to make some decisions.

The straightforward approach to implement the suggested solution by @HarisSpahijaPon , is updating the quantity input field which is defined in `@reactioncommerce/components/QuantityInput/v1`.

The simplest update is to rem

[2021-03-16 05:02] ghost commented on #652
Agreed on this pain point in the UX. As this issue is resolved I'd suggest tackling this with a confirmation dialog when decrementing items to quantity 0 and before the item is removed from the Cart unless there's an easily accessible view of product history available to users.

[2021-03-17 10:33] rondlite commented on #679
it seems the slug '-' is used which is an impossible slug (as in can't register it). I get this under the variable used to query graphql as slugOrId

[2021-03-17 12:45] rondlite commented on #679
I am seeing `Components` from `react` being imported in files under the `[lang]` folder meaning there is component in `/pages` and any component under that folder is seen as a page according to nextjs docs.

[2021-03-17 23:58] rondlite commented on #718
I am using a dirty fix that still lets me end up with .env.prod on the container so I do not have to change the code,
[code]
Called this env-populate and placed it in /bin. This file I call at a build step, while I insert the vars from a k8s secret.
Mind you, we are using a private docker hub, **don't do this on containers you are publishing as public**.

[2021-03-24 07:49] ghost commented on #237
@jeffcorpuz looks like this can be closed

[2021-03-24 19:31] #237 closed

[2021-04-13 06:54] ghost commented on #606
No reports of this happening after v3. Can this be closed? There's new Auth work going into storefront with https://github.com/reactioncommerce/example-storefront/pull/760 and closing out old auth issues seems prudent.

[2021-04-13 13:30] #606 closed

[2021-06-15 16:31] djorellanabmrb commented on #742
Hey, community!

We had the same problem with the checkout flow, so we recorded a [video](https://youtu.be/53yANXCVlIk) (that reproduce the issue).

This is [E-commerce ](https://storefront.qbit01.com/de/tag/salty) that was built with the project, [example-storefront:4.0.2](https://github.com/reactioncommerce/example-storefront/releases/tag/v4.0.2), using instances on compute engine and cloud dns

[2021-06-23 00:57] rc-publisher commented on #709
:tada: This issue has been resolved in version 4.1.0 :tada:

The release is available on [GitHub release](https://github.com/reactioncommerce/example-storefront/releases/tag/v4.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-20 12:12] CMorgan94 opened #773 "Can't complete order with products from multiple stores"
![checkout_error](https://user-images.githubusercontent.com/86368899/126320294-0b015883-0b0f-4327-9045-faa1386e59b7.png)
The error in the screenshot above occurs when trying to complete an order with products from two different stores.

Steps to reproduce:

1. Edit containers/catalog/withCatalogItems.js and pass two or more shopIds to the catalogItemsQuery in order to return products from more tha

[2021-07-23 10:29] CMorgan94 opened #774 "Checkout is broken in production mode"
![checkout_bug](https://user-images.githubusercontent.com/86368899/126769296-ca543708-6d2c-4563-b62e-e9868498d9cf.PNG)
When attempting to checkout in production, the checkout page displays a message saying that the cart is empty. This message appears in German even though the language is set to English on the store. The checkout appears to break as the graphQL query is not passing a shopId eventho

[2021-08-24 15:21] meiremans opened #791 "Stripe instructions not working."
Type: **breaking**

**Describe the bug**
In a new setup we cannot add Stripe according to the instructions mentioned.
Step 2 mentions you have to go to reaction classic running at localhost:3000. but this just returns "Cannot GET /"

**To Reproduce**
Steps to reproduce the behavior:
1. New installation of opencommerce
2. Go to localhost:3000
3. See error

**Expected behavior**
localhost:3000 to sh

[2021-08-25 11:54] meiremans commented on #791
So I see there is an issue open with Stripe that you are handling, great!

When the Strong Customer Authentication is in place, could you also update the readme so I (and every one after me) can implement it?

Thank you.

[2021-08-30 15:56] MohanNarayana commented on #791
Hi @meiremans , the doc needs correction. You should find admin (step 2) at http://localhost:4080 and then proceed with enabling Payments and Shipping.

[2021-08-30 17:18] Akarshit opened #793 "Login button on Checkout not working"
Type: **minor**

**Describe the bug**
The Login button is not doing anything on Cart Checkout page.

[2021-08-31 16:30] #791 closed, assigned to MohanNarayana

[2021-08-31 16:31] rc-publisher commented on #791
:tada: This issue has been resolved in version 5.0.1 :tada:

The release is available on [GitHub release](https://github.com/reactioncommerce/example-storefront/releases/tag/v5.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-01 00:37] #329 closed

[2021-09-03 16:11] #793 closed, assigned to Akarshit

[2021-09-03 16:13] rc-publisher commented on #793
:tada: This issue has been resolved in version 5.0.3 :tada:

The release is available on [GitHub release](https://github.com/reactioncommerce/example-storefront/releases/tag/v5.0.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-02 18:22] delagroove opened #804 "update package-link and unlink"
update these bins in the same fashion API bins were updated.

[2021-11-16 19:53] #654 closed, assigned to nobody

[2021-11-16 19:53] #670 closed, assigned to loan-laux

[2021-11-16 19:53] #674 closed, assigned to nobody

[2021-11-16 19:53] #675 closed, assigned to nobody

[2021-11-16 19:53] #676 closed, assigned to nobody

[2021-11-16 19:53] #677 closed, assigned to nobody

[2021-11-16 19:53] #678 closed, assigned to nobody

[2021-11-16 19:53] #679 closed, assigned to nobody

[2021-11-16 19:53] #680 closed, assigned to nobody

[2021-11-16 19:53] #683 closed, assigned to nobody

[2021-11-16 19:53] #692 closed, assigned to nobody

[2021-11-16 19:53] #703 closed, assigned to nobody

[2021-11-16 19:53] #704 closed, assigned to nobody

[2021-11-16 19:53] #707 closed, assigned to nobody

[2021-11-16 19:53] #713 closed, assigned to nobody

[2021-11-16 19:53] #716 closed, assigned to nobody

[2021-11-16 19:53] #720 closed, assigned to nobody

[2021-11-16 19:53] #734 closed, assigned to nobody

[2021-11-16 19:53] #742 closed, assigned to Akarshit

[2021-11-16 19:53] #743 closed, assigned to MohanNarayana

[2021-11-16 19:53] #755 closed, assigned to nobody

[2021-11-16 19:53] #773 closed, assigned to nobody

[2021-11-16 19:53] #774 closed, assigned to MohanNarayana

[2021-11-16 19:54] #515 closed

[2021-11-16 19:54] #524 closed

[2021-11-16 19:54] #528 closed

[2021-11-16 19:54] #529 closed

[2021-11-16 19:54] #554 closed

[2021-11-16 19:54] #556 closed

[2021-11-16 19:54] #558 closed

[2021-11-16 19:54] #559 closed

[2021-11-16 19:54] #562 closed

[2021-11-16 19:54] #563 closed

[2021-11-16 19:54] #566 closed

[2021-11-16 19:54] #568 closed

[2021-11-16 19:54] #569 closed

[2021-11-16 19:54] #575 closed

[2021-11-16 19:54] #590 closed

[2021-11-16 19:54] #600 closed

[2021-11-16 19:54] #601 closed

[2021-11-16 19:54] #617 closed

[2021-11-16 19:54] #618 closed

[2021-11-16 19:54] #631 closed

[2021-11-16 19:54] #641 closed, assigned to nobody

[2021-11-16 19:54] #642 closed, assigned to nobody

[2021-11-16 19:54] #643 closed, assigned to nobody

[2021-11-16 19:54] #652 closed, assigned to nobody

[2021-11-16 19:55] #319 closed

[2021-11-16 19:55] #328 closed

[2021-11-16 19:55] #376 closed

[2021-11-16 19:55] #377 closed

[2021-11-16 19:55] #391 closed

[2021-11-16 19:55] #400 closed

[2021-11-16 19:55] #402 closed

[2021-11-16 19:55] #403 closed

[2021-11-16 19:55] #408 closed

[2021-11-16 19:55] #415 closed

[2021-11-16 19:55] #426 closed

[2021-11-16 19:55] #430 closed

[2021-11-16 19:55] #432 closed

[2021-11-16 19:55] #439 closed

[2021-11-16 19:55] #440 closed

[2021-11-16 19:55] #460 closed

[2021-11-16 19:55] #466 closed

[2021-11-16 19:55] #468 closed

[2021-11-16 19:55] #469 closed

[2021-11-16 19:55] #478 closed

[2021-11-16 19:55] #479 closed

[2021-11-16 19:55] #484 closed

[2021-11-16 19:55] #489 closed

[2021-11-16 19:55] #500 closed

[2021-11-16 19:55] #89 closed

[2021-11-16 19:55] #117 closed

[2021-11-16 19:55] #118 closed

[2021-11-16 19:55] #148 closed

[2021-11-16 19:55] #193 closed

[2021-11-16 19:55] #216 closed

[2021-11-16 19:55] #229 closed

[2021-11-16 19:55] #241 closed

[2021-11-16 19:55] #285 closed

[2021-11-16 19:55] #287 closed

[2021-11-16 19:55] #288 closed

[2021-11-16 19:55] #298 closed

[2021-11-16 19:55] #305 closed

[2021-11-16 19:55] #306 closed

[2021-11-16 19:55] #307 closed

[2021-11-16 19:55] #318 closed

[2021-11-16 19:55] #629 closed

[2021-11-16 19:55] #671 closed

[2021-11-17 16:14] #804 closed, assigned to MohanNarayana

[2021-11-17 16:16] rc-publisher commented on #804
:tada: This issue has been resolved in version 5.1.1 :tada:

The release is available on [GitHub release](https://github.com/reactioncommerce/example-storefront/releases/tag/v5.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-18 05:29] brent-hoover opened #806 "Cannot check out when only Example IOU method is enabled"
Type: **critical**

**Describe the bug**
When attempting to check out with only the Example IOU method enabled I just get a message saying "No payment methods available" and errors in the console.

**To Reproduce**
Steps to reproduce the behavior:
1. Spin up a blank instance and add a product
2. Only enable "Example IOU" as the payment method and a shipping method
3. Add to cart and attempt to che

[2022-01-03 18:50] derBretti opened #811 "Unable to navigate in EntryModal by keyboard"
Type: **minor**

**Description**
In the 'Login' modal, only the first link is accessible by keyboard, since any KeyDown event triggers the underlying action and therefore the next element cannot be focused by using the tab key. The same logic prevents users in the 'SignUp' and 'ForgotPassword' modal from focusing a different element once they have focused one of the links there.

**To Reproduce**

[2022-01-28 08:46] brent-hoover opened #812 "SPIKE: Investigate paths forward for NextJS Storefront project"
**This is a general Spike to do research to choose a path forward for Storefront:**

**Part 1:**

Look at the community built project at: https://github.com/tedraykov/airfit-storefront

1. What the quality of the project
2. Is the creator interested in this becoming an "official" project
3. What would be need to make it replace example storefront
4. Are there any licensing issues with taking anoth

[2022-02-01 04:39] triomen commented on #812
Could you share the link of this project ? I didn't find it on github.
FYI, I found an "old" code to integrate OC with Vue Storefront, didn't try it https://github.com/pondigitalsolutions/rc-storefront-api

[2022-02-02 02:19] brent-hoover commented on #812
@triomen https://github.com/tedraykov/airfit-storefront

[2022-03-07 02:49] brent-hoover commented on #812
Closing this as we have decided to move forward with building our own NextJS Storefront implementation

[2022-03-07 02:49] #812 closed, assigned to delagroove

[2022-03-23 08:55] OlehObodin opened #817 "Payment methods does not available"
Type: **breaking|critical|major|minor**

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Enable Stripe
Enable IOU

**Expected behavior**
I should see the form with  payment credentials

**Error**
When trying to buy got  the error
`
 Variable "$shopId" of non-null type "ID!" must not be null. `

[2022-05-02 11:06] thecaffeinatedengineer commented on #817
I'm getting the same issue as well.

@OlehObodin Did you manage to resolve this issue ?

[2022-05-02 13:49] OlehObodin commented on #817
@ianchikwature  I have played with versions. So tag v.4.18 for admin, and v.5.1.3 for storefront  have made it work.

[2022-05-02 13:49] #817 closed, assigned to nobody

[2022-05-02 15:26] thecaffeinatedengineer commented on #817
@OlehObodin Thanks for the reply.

[admin tags](https://github.com/reactioncommerce/reaction-admin/tags) only go up to v4.0.0-beta, did you mean the reaction API,  [v4.1.8](https://github.com/reactioncommerce/reaction/releases/tag/v4.1.8) tag?

[2022-09-22 22:51] #806 closed, assigned to delagroove